ccaidauesadf001/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ccaidauesadf001"
		},
		"IR2_CDE_DEV_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_CDE_DEV'"
		},
		"IR2_CDE_QA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_CDE_QA'"
		},
		"IR2_CORE_DEV_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_CORE_DEV'"
		},
		"IR2_CORE_PRODUCTION_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_CORE_PRODUCTION'"
		},
		"IR2_CORE_QA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_CORE_QA'"
		},
		"IR2_MASTERDATA_DEV_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_MASTERDATA_DEV'"
		},
		"IR2_MASTERDATA_QA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_MASTERDATA_QA'"
		},
		"IR2_REPORT_PRODUCTION_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_REPORT_PRODUCTION'"
		},
		"IR2_SALES_DEV_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IR2_SALES_DEV'"
		},
		"IaaS_SALES_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IaaS_SALES'"
		},
		"IaaS_SALES_PRODUCTION_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IaaS_SALES_PRODUCTION'"
		},
		"PaaS_REDCoaching_Production_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PaaS_REDCoaching_Production'"
		},
		"integrationRuntime-SSIS-CCAIDWPRDDB004_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "ccaidauesprdir2dbsrv01.database.windows.net"
		},
		"integrationRuntime-SSIS-CCAIDWPRDDB004_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "svc_sasql_id"
		},
		"integrationRuntime-SSIS-CCAIDWPRDDB004_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy ATB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy ATB",
						"description": "Copy ATB from PaaS to IaaS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreditLimit",
											"type": "Decimal"
										},
										"sink": {
											"name": "CreditLimit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OpeningBalance",
											"type": "Decimal"
										},
										"sink": {
											"name": "OpeningBalance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotalOverdueAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalOverdueAmount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueAmount1to30Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueAmount1to30Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueAmount31to60Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueAmount31to60Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueAmountOver60Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueAmountOver60Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARCreditOutstanding",
											"type": "Decimal"
										},
										"sink": {
											"name": "ARCreditOutstanding",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARTemporaryCreditOutstanding",
											"type": "Decimal"
										},
										"sink": {
											"name": "ARTemporaryCreditOutstanding",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARCashOutstanding",
											"type": "Decimal"
										},
										"sink": {
											"name": "ARCashOutstanding",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARInvoiceCreditDay",
											"type": "Int32"
										},
										"sink": {
											"name": "ARInvoiceCreditDay",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ShipToNumber",
											"type": "String"
										},
										"sink": {
											"name": "ShipToNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreditSequence",
											"type": "Int32"
										},
										"sink": {
											"name": "CreditSequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CreditType",
											"type": "String"
										},
										"sink": {
											"name": "CreditType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceNumber",
											"type": "String"
										},
										"sink": {
											"name": "InvoiceNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceStatus",
											"type": "String"
										},
										"sink": {
											"name": "InvoiceStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvoiceAmount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LPCAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "LPCAmount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SettlementLocation",
											"type": "String"
										},
										"sink": {
											"name": "SettlementLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARLocation",
											"type": "String"
										},
										"sink": {
											"name": "ARLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARCollectorRoute",
											"type": "String"
										},
										"sink": {
											"name": "ARCollectorRoute",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvoiceDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ReceiptDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ReceiptDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SubmissionDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SubmissionDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DueDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "DueDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CalculatedDueDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CalculatedDueDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastPaymentDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastPaymentDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ReferenceNumber",
											"type": "Int32"
										},
										"sink": {
											"name": "ReferenceNumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PastDueFlag",
											"type": "Int32"
										},
										"sink": {
											"name": "PastDueFlag",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AgeDelivery",
											"type": "Int32"
										},
										"sink": {
											"name": "AgeDelivery",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AgeSubmission",
											"type": "Int32"
										},
										"sink": {
											"name": "AgeSubmission",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DaysToReceive",
											"type": "Int32"
										},
										"sink": {
											"name": "DaysToReceive",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DaysToSubmit",
											"type": "Int32"
										},
										"sink": {
											"name": "DaysToSubmit",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DaysInAR",
											"type": "Int32"
										},
										"sink": {
											"name": "DaysInAR",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Current",
											"type": "Decimal"
										},
										"sink": {
											"name": "Current",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue1to7Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue1to7Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue8to14Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue8to14Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue15to21Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue15to21Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue22to30Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue22to30Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue31to60Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue31to60Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue61to90Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue61to90Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue91to120Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue91to120Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueOver120Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueOver120Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Unapplied",
											"type": "Decimal"
										},
										"sink": {
											"name": "Unapplied",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overpayment",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overpayment",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ProprietaryBadDebt",
											"type": "Decimal"
										},
										"sink": {
											"name": "ProprietaryBadDebt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DCM",
											"type": "String"
										},
										"sink": {
											"name": "DCM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GM",
											"type": "String"
										},
										"sink": {
											"name": "GM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SM",
											"type": "String"
										},
										"sink": {
											"name": "SM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MarketingLocation",
											"type": "String"
										},
										"sink": {
											"name": "MarketingLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARResponsibilityCode",
											"type": "String"
										},
										"sink": {
											"name": "ARResponsibilityCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PKPFlag",
											"type": "String"
										},
										"sink": {
											"name": "PKPFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DocumentNumber",
											"type": "String"
										},
										"sink": {
											"name": "DocumentNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerOrderNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerOrderNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DeliveryTransactionCode",
											"type": "String"
										},
										"sink": {
											"name": "DeliveryTransactionCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TaxInvoiceNumber",
											"type": "String"
										},
										"sink": {
											"name": "TaxInvoiceNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TaxInvoiceName",
											"type": "String"
										},
										"sink": {
											"name": "TaxInvoiceName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NPWP",
											"type": "String"
										},
										"sink": {
											"name": "NPWP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletCreditDay",
											"type": "Int32"
										},
										"sink": {
											"name": "OutletCreditDay",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ReceiptNumber",
											"type": "String"
										},
										"sink": {
											"name": "ReceiptNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CallingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsDelete",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDelete",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DEV_IaaS_ATB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEV_PaaS_ATB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DEV_IaaS_ATB')]",
				"[concat(variables('factoryId'), '/datasets/DEV_PaaS_ATB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Briefcase To Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy Briefcase from production to database",
				"activities": [
					{
						"name": "Copy Briefcase Header",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Select * From Briefcase_Header"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "briefcase_id",
											"type": "Int64"
										},
										"sink": {
											"name": "briefcase_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SelectType",
											"type": "String"
										},
										"sink": {
											"name": "SelectType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "start_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "start_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "end_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "end_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "created_by",
											"type": "String"
										},
										"sink": {
											"name": "created_by",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "file_name",
											"type": "String"
										},
										"sink": {
											"name": "file_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UpdateUser",
											"type": "String"
										},
										"sink": {
											"name": "UpdateUser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BriefcaseType",
											"type": "String"
										},
										"sink": {
											"name": "BriefcaseType",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Core",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dev_Core_Briefcase",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Briefcase Detail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Briefcase Header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Select * From Briefcase_detail"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "briefcase_id",
											"type": "Int64"
										},
										"sink": {
											"name": "briefcase_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "outlet_number",
											"type": "String"
										},
										"sink": {
											"name": "outlet_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "level",
											"type": "String"
										},
										"sink": {
											"name": "level",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "user_code",
											"type": "String"
										},
										"sink": {
											"name": "user_code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Core",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dev_Core_Briefcase_detail",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Core')]",
				"[concat(variables('factoryId'), '/datasets/Dev_Core_Briefcase')]",
				"[concat(variables('factoryId'), '/datasets/Dev_Core_Briefcase_detail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy QAQuestions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy QAQuestions from QA to Dev",
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate QAQuestion Dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "String"
										},
										"sink": {
											"name": "Site",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EquipmentNumber",
											"type": "String"
										},
										"sink": {
											"name": "EquipmentNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SectionID",
											"type": "String"
										},
										"sink": {
											"name": "SectionID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MeasuringPoint",
											"type": "String"
										},
										"sink": {
											"name": "MeasuringPoint",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestionText",
											"type": "String"
										},
										"sink": {
											"name": "QuestionText",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductID",
											"type": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sequence",
											"type": "Int32"
										},
										"sink": {
											"name": "Sequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AnswerGroup",
											"type": "String"
										},
										"sink": {
											"name": "AnswerGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UnitOfMeasure",
											"type": "String"
										},
										"sink": {
											"name": "UnitOfMeasure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MaxValue",
											"type": "String"
										},
										"sink": {
											"name": "MaxValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MinValue",
											"type": "String"
										},
										"sink": {
											"name": "MinValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataType",
											"type": "String"
										},
										"sink": {
											"name": "DataType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestCode",
											"type": "String"
										},
										"sink": {
											"name": "QuestCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTimeOffset"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QA_CDE_QAQuestion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEV_CDE_QAQuestion",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate QAQuestion Dev",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DataFactory_TruncateQAQuestions]"
						},
						"linkedServiceName": {
							"referenceName": "IR2_CDE_DEV",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QA_CDE_QAQuestion')]",
				"[concat(variables('factoryId'), '/datasets/DEV_CDE_QAQuestion')]",
				"[concat(variables('factoryId'), '/linkedServices/IR2_CDE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete CallHistory By PinId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_DeleteOldCallHistoryByPinId]",
							"storedProcedureParameters": {
								"PinId": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IaaS_SALES_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DeleteOldLogSyncs_CCASitecore_Custom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_DeleteOldLogSyncs]"
						},
						"linkedServiceName": {
							"referenceName": "IaaS_SALES_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export SAM to Report')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SAM Users",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Users",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SyncDataFrom": {
									"value": "@pipeline().parameters.SyncFromDate",
									"type": "Expression"
								},
								"SyncDataTo": {
									"value": "@pipeline().parameters.SyncToDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute SAM Call History",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SAM Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Call History",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SyncDataFrom": {
									"value": "@pipeline().parameters.SyncFromDate",
									"type": "Expression"
								},
								"SyncDataTo": {
									"value": "@pipeline().parameters.SyncToDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute SAM Call History Detail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SAM Call History",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Call History Detail",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SyncDataFrom": {
									"value": "@pipeline().parameters.SyncFromDate",
									"type": "Expression"
								},
								"SyncDataTo": {
									"value": "@pipeline().parameters.SyncToDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute SAM Survey Transaction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SAM Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Survey Transaction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SyncDataFrom": {
									"value": "@pipeline().parameters.SyncFromDate",
									"type": "Expression"
								},
								"SyncDataTo": {
									"value": "@pipeline().parameters.SyncToDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute SAM Survey Answer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SAM Survey Transaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Survey Transaction Answer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SyncDataFrom": {
									"value": "@pipeline().parameters.SyncFromDate",
									"type": "Expression"
								},
								"SyncDataTo": {
									"value": "@pipeline().parameters.SyncToDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute CORE My Equipment",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CORE My Equipment",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SyncDataFrom": {
									"value": "@pipeline().parameters.SyncFromDate",
									"type": "Expression"
								},
								"SyncDataTo": {
									"value": "@pipeline().parameters.SyncToDate",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"SyncFromDate": {
						"type": "string",
						"defaultValue": "2019-08-01"
					},
					"SyncToDate": {
						"type": "string",
						"defaultValue": "2019-08-28"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAM Users')]",
				"[concat(variables('factoryId'), '/pipelines/SAM Call History')]",
				"[concat(variables('factoryId'), '/pipelines/SAM Call History Detail')]",
				"[concat(variables('factoryId'), '/pipelines/SAM Survey Transaction')]",
				"[concat(variables('factoryId'), '/pipelines/SAM Survey Transaction Answer')]",
				"[concat(variables('factoryId'), '/pipelines/CORE My Equipment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Integrate_SalesOffice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Integration_SalesOffice",
						"description": "Integrate from Customer to SalesOffice",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_IntegrationSalesOffice]"
						},
						"linkedServiceName": {
							"referenceName": "IR2_MASTERDATA_DEV",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_MASTERDATA_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Integrate_SalesOffice_Q')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Integration_SalesOffice",
						"description": "Integrate from Customer to SalesOffice",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_IntegrationSalesOffice]"
						},
						"linkedServiceName": {
							"referenceName": "IR2_MASTERDATA_QA",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "QA"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_MASTERDATA_QA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAM Call History')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_CallHistory]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_CallHistory_upsert]",
								"sqlWriterTableType": "typeSAM_CallHistory",
								"storedProcedureTableTypeParameterName": "SAM_CallHistory"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CallHistoryId",
											"type": "Int32"
										},
										"sink": {
											"name": "CallHistoryId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScreenID",
											"type": "String"
										},
										"sink": {
											"name": "ScreenID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UserId",
											"type": "Guid"
										},
										"sink": {
											"name": "UserId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "PinId",
											"type": "String"
										},
										"sink": {
											"name": "PinId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteId",
											"type": "String"
										},
										"sink": {
											"name": "RouteId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LocationCode",
											"type": "String"
										},
										"sink": {
											"name": "LocationCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StartTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "StartTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EndTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "EndTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Double"
										},
										"sink": {
											"name": "Longitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Double"
										},
										"sink": {
											"name": "Latitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Accuracy",
											"type": "Int32"
										},
										"sink": {
											"name": "Accuracy",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScheduleTypeId",
											"type": "String"
										},
										"sink": {
											"name": "ScheduleTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SystemStatus",
											"type": "Int32"
										},
										"sink": {
											"name": "SystemStatus",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CallStatus",
											"type": "String"
										},
										"sink": {
											"name": "CallStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CancelledReason",
											"type": "String"
										},
										"sink": {
											"name": "CancelledReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FollowSequence",
											"type": "Boolean"
										},
										"sink": {
											"name": "FollowSequence",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RequestResequence",
											"type": "Boolean"
										},
										"sink": {
											"name": "RequestResequence",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ProposeOutletBefore",
											"type": "Int32"
										},
										"sink": {
											"name": "ProposeOutletBefore",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ProposeOutletAfter",
											"type": "Int32"
										},
										"sink": {
											"name": "ProposeOutletAfter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Remarks",
											"type": "String"
										},
										"sink": {
											"name": "Remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UploadedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "UploadedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SystemDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OffSequenceReason",
											"type": "String"
										},
										"sink": {
											"name": "OffSequenceReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncFromData from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from now function",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "SAM_CallHistory"
					},
					"SyncDataFrom": {
						"type": "String"
					},
					"SyncDataTo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Sales_IaaS')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendToBI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Send To BI",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n'ND' as UPDATE_STATUS,\nSubstring(Mainkey, 1, 6) as MAINKEY,\nSubstring(Subkey, 1, 7) as SUBKEY,\nSubstring([Data], 1, 80) as DATAFIELD\nFrom [Configuration]\nwhere [Mainkey] = 'SendToBI'\nAnd substring ([param], 1, 1) = '1'\nAnd [Application]='BACKEND'"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table CoreConfigurationToBI"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UPDATE_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "UPDATE_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MAINKEY",
											"type": "String"
										},
										"sink": {
											"name": "MAINKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SUBKEY",
											"type": "String"
										},
										"sink": {
											"name": "SUBKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATAFIELD",
											"type": "String"
										},
										"sink": {
											"name": "DATAFIELD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DEV_CORE_Configuration",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEV_CORE_CoreConfigurationToBI",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DEV_CORE_Configuration')]",
				"[concat(variables('factoryId'), '/datasets/DEV_CORE_CoreConfigurationToBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdateInvalidStatus_DataSubmitStaging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateInvalidStatus_DataSubmitStaging",
						"description": "Update Invalid Status for Data Submit Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_DataSubmitStaging_IsSynchronizedtoZero]"
						},
						"linkedServiceName": {
							"referenceName": "PaaS_REDCoaching_Production",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PaaS_REDCoaching_Production')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_CDE_QAQuestion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CDE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Site",
						"type": "nvarchar"
					},
					{
						"name": "EquipmentNumber",
						"type": "nvarchar"
					},
					{
						"name": "SectionID",
						"type": "nvarchar"
					},
					{
						"name": "MeasuringPoint",
						"type": "nvarchar"
					},
					{
						"name": "QuestionText",
						"type": "nvarchar"
					},
					{
						"name": "ProductID",
						"type": "nvarchar"
					},
					{
						"name": "Sequence",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AnswerGroup",
						"type": "nvarchar"
					},
					{
						"name": "UnitOfMeasure",
						"type": "nvarchar"
					},
					{
						"name": "MaxValue",
						"type": "nvarchar"
					},
					{
						"name": "MinValue",
						"type": "nvarchar"
					},
					{
						"name": "DataType",
						"type": "varchar"
					},
					{
						"name": "QuestCode",
						"type": "varchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetimeoffset",
						"scale": 7
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[QAQuestions]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CDE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_CORE_Configuration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Mainkey",
						"type": "varchar"
					},
					{
						"name": "Subkey",
						"type": "varchar"
					},
					{
						"name": "Data",
						"type": "varchar"
					},
					{
						"name": "Data_Desc",
						"type": "varchar"
					},
					{
						"name": "Param",
						"type": "varchar"
					},
					{
						"name": "Param_Desc",
						"type": "varchar"
					},
					{
						"name": "Type",
						"type": "varchar"
					},
					{
						"name": "Reference",
						"type": "varchar"
					},
					{
						"name": "Application",
						"type": "varchar"
					},
					{
						"name": "UpdateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Configuration]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_CORE_CoreConfigurationToBI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UPDATE_STATUS",
						"type": "varchar"
					},
					{
						"name": "MAINKEY",
						"type": "varchar"
					},
					{
						"name": "SUBKEY",
						"type": "varchar"
					},
					{
						"name": "DATAFIELD",
						"type": "varchar"
					},
					{
						"name": "CreateDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "ModifiedDate",
						"type": "datetimeoffset",
						"scale": 7
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[CoreConfigurationToBI]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_CORE_Role')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PK_MGroupMenu_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupMenuName",
						"type": "varchar"
					},
					{
						"name": "GroupMenuDesciption",
						"type": "varchar"
					},
					{
						"name": "Active",
						"type": "bit"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "Application",
						"type": "varchar"
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "LastUpdateBy",
						"type": "varchar"
					},
					{
						"name": "ApprovedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ApprovedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[MGroupMenu]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_IaaS_ATB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IaaS_SALES",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Period",
						"type": "nvarchar"
					},
					{
						"name": "CustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OpeningBalance",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "TotalOverdueAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount1to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmountOver60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARTemporaryCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCashOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARInvoiceCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShipToNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditSequence",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditType",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceStatus",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "LPCAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "SettlementLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARCollectorRoute",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReceiptDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SubmissionDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CalculatedDueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastPaymentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReferenceNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PastDueFlag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeDelivery",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeSubmission",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToReceive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToSubmit",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysInAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Current",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue1to7Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue8to14Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue15to21Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue22to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue61to90Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue91to120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueOver120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Unapplied",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overpayment",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ProprietaryBadDebt",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "DCM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "MarketingLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARResponsibilityCode",
						"type": "nvarchar"
					},
					{
						"name": "PKPFlag",
						"type": "nvarchar"
					},
					{
						"name": "DocumentNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceName",
						"type": "nvarchar"
					},
					{
						"name": "NPWP",
						"type": "nvarchar"
					},
					{
						"name": "OutletCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ReceiptNumber",
						"type": "nvarchar"
					},
					{
						"name": "CallingDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[AccountTrialBalance]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_PaaS_ATB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_SALES_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Period",
						"type": "nvarchar"
					},
					{
						"name": "CustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OpeningBalance",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "TotalOverdueAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount1to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmountOver60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARTemporaryCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCashOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARInvoiceCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShipToNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditSequence",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditType",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceStatus",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "LPCAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "SettlementLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARCollectorRoute",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReceiptDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SubmissionDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CalculatedDueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastPaymentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReferenceNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PastDueFlag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeDelivery",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeSubmission",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToReceive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToSubmit",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysInAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Current",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue1to7Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue8to14Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue15to21Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue22to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue61to90Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue91to120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueOver120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Unapplied",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overpayment",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ProprietaryBadDebt",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "DCM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "MarketingLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARResponsibilityCode",
						"type": "nvarchar"
					},
					{
						"name": "PKPFlag",
						"type": "nvarchar"
					},
					{
						"name": "DocumentNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceName",
						"type": "nvarchar"
					},
					{
						"name": "NPWP",
						"type": "nvarchar"
					},
					{
						"name": "OutletCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ReceiptNumber",
						"type": "nvarchar"
					},
					{
						"name": "CallingDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[AccountTrialBalance]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_SALES_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_Core')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_Core_Briefcase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "[[dbo].[briefcase_header]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_Core_Briefcase_detail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "[[dbo].[briefcase_detail]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_MasterData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_MASTERDATA_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_MASTERDATA_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Core')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Report_SAM_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Number",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ArticleGroupingListId",
						"type": "nvarchar"
					},
					{
						"name": "BillToCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxClass",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "RegionCode",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "TelNumber",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "PrecinctId",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "MarketTypeId",
						"type": "nvarchar"
					},
					{
						"name": "TradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "SubTradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerId",
						"type": "nvarchar"
					},
					{
						"name": "TradeNameId",
						"type": "nvarchar"
					},
					{
						"name": "CustomerTypeId",
						"type": "nvarchar"
					},
					{
						"name": "AccountGroupId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessTypeId",
						"type": "nvarchar"
					},
					{
						"name": "OperationalRegionId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseTypeId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseNumber",
						"type": "nvarchar"
					},
					{
						"name": "AcsNumber",
						"type": "nvarchar"
					},
					{
						"name": "AtoNumber",
						"type": "nvarchar"
					},
					{
						"name": "WholesalerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCustomerNumberId",
						"type": "nvarchar"
					},
					{
						"name": "HardStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "HardEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "ServicePolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SalesPolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionId",
						"type": "nvarchar"
					},
					{
						"name": "CreditBlock",
						"type": "bit"
					},
					{
						"name": "OrderBlockId",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryServiceCoordinatorId",
						"type": "nvarchar"
					},
					{
						"name": "PreferredOrderMethodId",
						"type": "nvarchar"
					},
					{
						"name": "PurchaseOrderRequiredId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOfficeId",
						"type": "nvarchar"
					},
					{
						"name": "TermsOfPaymentId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOrganisationId",
						"type": "nvarchar"
					},
					{
						"name": "DistributionChannelId",
						"type": "nvarchar"
					},
					{
						"name": "DivisionId",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PriceBookId",
						"type": "nvarchar"
					},
					{
						"name": "ConditionGroup1Id",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryDelayDays",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerEmail",
						"type": "nvarchar"
					},
					{
						"name": "RewardStatusId",
						"type": "nvarchar"
					},
					{
						"name": "RewardTierId",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "nvarchar"
					},
					{
						"name": "FaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "StoreNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "VatRegisteredNumber",
						"type": "nvarchar"
					},
					{
						"name": "EquipmentContractNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerProFormaPricingId",
						"type": "nvarchar"
					},
					{
						"name": "CreditCardSurcharge",
						"type": "nvarchar"
					},
					{
						"name": "StoreKeyNumber",
						"type": "nvarchar"
					},
					{
						"name": "HasPrintEAN",
						"type": "bit"
					},
					{
						"name": "IsWETExempt",
						"type": "bit"
					},
					{
						"name": "BlackCode",
						"type": "nvarchar"
					},
					{
						"name": "RedCode",
						"type": "nvarchar"
					},
					{
						"name": "L4Customer",
						"type": "nvarchar"
					},
					{
						"name": "L5Customer",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionFlag",
						"type": "nvarchar"
					},
					{
						"name": "SalesFlag",
						"type": "nvarchar"
					},
					{
						"name": "L4CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "L5CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "NationalOrOperation",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagCode",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterCode",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterDescription",
						"type": "nvarchar"
					},
					{
						"name": "BankAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "nvarchar"
					},
					{
						"name": "MaxOverdueGraceDay",
						"type": "nvarchar"
					},
					{
						"name": "SalesRoute",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "MarketingMessages",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlag",
						"type": "nvarchar"
					},
					{
						"name": "DSM",
						"type": "nvarchar"
					},
					{
						"name": "BU",
						"type": "nvarchar"
					},
					{
						"name": "Statloc",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "DistCenter",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAM_Customers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Report_SAM_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production/Report DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UserId",
						"type": "uniqueidentifier"
					},
					{
						"name": "UserName",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "SecondaryPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "PaymentAccess",
						"type": "bit"
					},
					{
						"name": "EmailOptIn",
						"type": "bit"
					},
					{
						"name": "CurrentCustomerSite",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CurrentCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "BDECustomerSite",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BDECustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "RouteSite",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SapUserName",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExternalUserId",
						"type": "nvarchar"
					},
					{
						"name": "PinID",
						"type": "nvarchar"
					},
					{
						"name": "RoleId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Application",
						"type": "text"
					},
					{
						"name": "Status",
						"type": "bit"
					},
					{
						"name": "LocationCode",
						"type": "nvarchar"
					},
					{
						"name": "PersonnelNumber",
						"type": "nvarchar"
					},
					{
						"name": "SubLoc",
						"type": "nvarchar"
					},
					{
						"name": "PositionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAM_Users"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Sales_IaaS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IaaS_SALES_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QA_CDE_QAQuestion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CDE_QA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Site",
						"type": "nvarchar"
					},
					{
						"name": "EquipmentNumber",
						"type": "nvarchar"
					},
					{
						"name": "SectionID",
						"type": "nvarchar"
					},
					{
						"name": "MeasuringPoint",
						"type": "nvarchar"
					},
					{
						"name": "QuestionText",
						"type": "nvarchar"
					},
					{
						"name": "ProductID",
						"type": "nvarchar"
					},
					{
						"name": "Sequence",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AnswerGroup",
						"type": "nvarchar"
					},
					{
						"name": "UnitOfMeasure",
						"type": "nvarchar"
					},
					{
						"name": "MaxValue",
						"type": "nvarchar"
					},
					{
						"name": "MinValue",
						"type": "nvarchar"
					},
					{
						"name": "DataType",
						"type": "varchar"
					},
					{
						"name": "QuestCode",
						"type": "varchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetimeoffset",
						"scale": 7
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[QAQuestion_10072019]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CDE_QA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QA_CORE_ROLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PK_MGroupMenu_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupMenuName",
						"type": "varchar"
					},
					{
						"name": "GroupMenuDesciption",
						"type": "varchar"
					},
					{
						"name": "Active",
						"type": "bit"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "Application",
						"type": "varchar"
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "LastUpdateBy",
						"type": "varchar"
					},
					{
						"name": "ApprovedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ApprovedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[MGroupMenu]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_CORE_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_CDE_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_CDE_DEV_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_CDE_QA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_CDE_QA_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_CORE_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_CORE_DEV_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_CORE_PRODUCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_CORE_PRODUCTION_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_CORE_QA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_CORE_QA_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_MASTERDATA_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_MASTERDATA_DEV_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_MASTERDATA_QA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_MASTERDATA_QA_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_REPORT_PRODUCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_REPORT_PRODUCTION_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_SALES_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IR2_SALES_DEV_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IaaS_SALES')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IaaS_SALES_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-IaaS-ccaidwdevdb001",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-IaaS-ccaidwdevdb001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IaaS_SALES_PRODUCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IaaS_SALES_PRODUCTION_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-CCAIDWPRDDB004",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-CCAIDWPRDDB004')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PaaS_REDCoaching_Production')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('PaaS_REDCoaching_Production_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-ATB-from-IaaS-to-PaaS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy ATB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2019-07-16T11:02:00Z",
						"timeZone": "UTC",
						"schedule": {
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy ATB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-QAQuestion-from-QA-to-DEV')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy QAQuestion from QA to DEV",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy QAQuestions",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-07-10T07:57:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								3
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy QAQuestions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-to-Report-DB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy to Report Database",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Export SAM to Report",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-08-21T09:10:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								18
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Export SAM to Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete Old Data in CCASitecore_Custom')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DeleteOldLogSyncs_CCASitecore_Custom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Delete CallHistory By PinId",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-07-31T08:57:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0,
								15,
								30,
								45
							],
							"hours": [
								18,
								19,
								20,
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DeleteOldLogSyncs_CCASitecore_Custom')]",
				"[concat(variables('factoryId'), '/pipelines/Delete CallHistory By PinId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Integration_SalesOffice')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Integrate_SalesOffice",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Integrate_SalesOffice_Q",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-08-07T21:00:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Integrate_SalesOffice')]",
				"[concat(variables('factoryId'), '/pipelines/Integrate_SalesOffice_Q')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendToBI')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SendToBI",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2019-07-22T11:25:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SendToBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdateInvalidStatus_DataSubmitStaging')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "UpdateInvalidStatus_DataSubmitStaging",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2019-08-23T07:56:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/UpdateInvalidStatus_DataSubmitStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime-CCAIDWPRDDB004')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "CCAIDWPRDDB004",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime-IaaS-ccaidwdevdb001')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "IntegrationRuntime",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime-SSIS-CCAIDWPRDDB004')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "CCAIDWPRDDB004",
				"typeProperties": {
					"computeProperties": {
						"location": "Australia East",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 2
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('integrationRuntime-SSIS-CCAIDWPRDDB004_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('integrationRuntime-SSIS-CCAIDWPRDDB004_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('integrationRuntime-SSIS-CCAIDWPRDDB004_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "S0"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAM Call History Detail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_CallHistoryDetail]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_CallHistoryDetail_upsert]",
								"sqlWriterTableType": "typeSAM_CallHistoryDetail",
								"storedProcedureTableTypeParameterName": "SAM_CallHistoryDetail"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CallHistoryId",
											"type": "Int32"
										},
										"sink": {
											"name": "CallHistoryId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScreenID",
											"type": "String"
										},
										"sink": {
											"name": "ScreenID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Function",
											"type": "String"
										},
										"sink": {
											"name": "Function",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Double"
										},
										"sink": {
											"name": "Longitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Double"
										},
										"sink": {
											"name": "Latitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "GPSMatch",
											"type": "Boolean"
										},
										"sink": {
											"name": "GPSMatch",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Accuracy",
											"type": "Int32"
										},
										"sink": {
											"name": "Accuracy",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Battery",
											"type": "Double"
										},
										"sink": {
											"name": "Battery",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Signal",
											"type": "Int32"
										},
										"sink": {
											"name": "Signal",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CellularID",
											"type": "Int64"
										},
										"sink": {
											"name": "CellularID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "LocAreaCode",
											"type": "Int32"
										},
										"sink": {
											"name": "LocAreaCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MOCNTRYCode",
											"type": "Int32"
										},
										"sink": {
											"name": "MOCNTRYCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MOCNETCode",
											"type": "Int32"
										},
										"sink": {
											"name": "MOCNETCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SystemDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UTCTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "UTCTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "BasisProcessingStatus",
											"type": "Int32"
										},
										"sink": {
											"name": "BasisProcessingStatus",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Message",
											"type": "String"
										},
										"sink": {
											"name": "Message",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ReasonCode",
											"type": "String"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										},
										"sink": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncFromData from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from now function",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "SAM_CallHistoryDetail"
					},
					"SyncDataFrom": {
						"type": "String",
						"defaultValue": "2019-08-11"
					},
					"SyncDataTo": {
						"type": "String",
						"defaultValue": "2019-08-12"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Sales_IaaS')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAM Users')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_Users]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_Users_upsert]",
								"sqlWriterTableType": "typeSAM_Users",
								"storedProcedureTableTypeParameterName": "SAM_Users"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserId",
											"type": "Guid"
										},
										"sink": {
											"name": "UserId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "UserName",
											"type": "String"
										},
										"sink": {
											"name": "UserName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PrimaryPhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "PrimaryPhoneNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SecondaryPhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "SecondaryPhoneNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PaymentAccess",
											"type": "Boolean"
										},
										"sink": {
											"name": "PaymentAccess",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "EmailOptIn",
											"type": "Boolean"
										},
										"sink": {
											"name": "EmailOptIn",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CurrentCustomerSite",
											"type": "Int32"
										},
										"sink": {
											"name": "CurrentCustomerSite",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CurrentCustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CurrentCustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BDECustomerSite",
											"type": "Int32"
										},
										"sink": {
											"name": "BDECustomerSite",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BDECustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "BDECustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteSite",
											"type": "Int32"
										},
										"sink": {
											"name": "RouteSite",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SapUserName",
											"type": "String"
										},
										"sink": {
											"name": "SapUserName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ExternalUserId",
											"type": "String"
										},
										"sink": {
											"name": "ExternalUserId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PinID",
											"type": "String"
										},
										"sink": {
											"name": "PinID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RoleId",
											"type": "Int32"
										},
										"sink": {
											"name": "RoleId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Application",
											"type": "String"
										},
										"sink": {
											"name": "Application",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "Boolean"
										},
										"sink": {
											"name": "Status",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "LocationCode",
											"type": "String"
										},
										"sink": {
											"name": "LocationCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PersonnelNumber",
											"type": "String"
										},
										"sink": {
											"name": "PersonnelNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubLoc",
											"type": "String"
										},
										"sink": {
											"name": "SubLoc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PositionCode",
											"type": "Int32"
										},
										"sink": {
											"name": "PositionCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "IsDelete",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDelete",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncFromData from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from now function",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "SAM_Users"
					},
					"SyncDataFrom": {
						"type": "String"
					},
					"SyncDataTo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Sales_IaaS')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAM Survey Transaction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_SurveyTransaction]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_SurveyTransaction_upsert]",
								"sqlWriterTableType": "typeSAM_SurveyTransaction",
								"storedProcedureTableTypeParameterName": "SAM_SurveyTransaction"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Route",
											"type": "String"
										},
										"sink": {
											"name": "Route",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletNumber",
											"type": "String"
										},
										"sink": {
											"name": "OutletNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WindowsId",
											"type": "String"
										},
										"sink": {
											"name": "WindowsId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SurveyId",
											"type": "Int32"
										},
										"sink": {
											"name": "SurveyId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SurveyDescription",
											"type": "String"
										},
										"sink": {
											"name": "SurveyDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StartSurveyDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "StartSurveyDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EndSurveyDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "EndSurveyDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Comment",
											"type": "String"
										},
										"sink": {
											"name": "Comment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SurveyType",
											"type": "String"
										},
										"sink": {
											"name": "SurveyType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FlagTransaction",
											"type": "String"
										},
										"sink": {
											"name": "FlagTransaction",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TotalScore",
											"type": "Double"
										},
										"sink": {
											"name": "TotalScore",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										},
										"sink": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ReasonCode",
											"type": "String"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReasonDescription",
											"type": "String"
										},
										"sink": {
											"name": "ReasonDescription",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncFromData from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from now function",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "SAM_SurveyTransaction"
					},
					"SyncDataFrom": {
						"type": "String"
					},
					"SyncDataTo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Sales_IaaS')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAM Survey Transaction Answer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_SurveyTransactionAnswer]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_SurveyTransactionAnswer_upsert]",
								"sqlWriterTableType": "typeSAM_SurveyTransactionAnswer",
								"storedProcedureTableTypeParameterName": "SAM_SurveyTransactionAnswer"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "SectionName",
											"type": "String"
										},
										"sink": {
											"name": "SectionName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestionSequence",
											"type": "Int32"
										},
										"sink": {
											"name": "QuestionSequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "QuestionId",
											"type": "Int32"
										},
										"sink": {
											"name": "QuestionId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "QuestionDescription",
											"type": "String"
										},
										"sink": {
											"name": "QuestionDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestionType",
											"type": "String"
										},
										"sink": {
											"name": "QuestionType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AnswerCode",
											"type": "String"
										},
										"sink": {
											"name": "AnswerCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AnswerText",
											"type": "String"
										},
										"sink": {
											"name": "AnswerText",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Notes",
											"type": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncFromData from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from now function",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "SAM_SurveyTransactionAnswer"
					},
					"SyncDataFrom": {
						"type": "String"
					},
					"SyncDataTo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Sales_IaaS')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CORE My Equipment')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_MyEquipment]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spCORE_MyEquipment_upsert]",
								"sqlWriterTableType": "typeCORE_MyEquipment",
								"storedProcedureTableTypeParameterName": "CORE_MyEquipment"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Guid"
										},
										"sink": {
											"name": "Id",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "SurveyTransactionId",
											"type": "Guid"
										},
										"sink": {
											"name": "SurveyTransactionId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "RequestNumber",
											"type": "String"
										},
										"sink": {
											"name": "RequestNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RequestType",
											"type": "String"
										},
										"sink": {
											"name": "RequestType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RequestReason",
											"type": "String"
										},
										"sink": {
											"name": "RequestReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletNumber",
											"type": "Int32"
										},
										"sink": {
											"name": "OutletNumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OutletLocation",
											"type": "String"
										},
										"sink": {
											"name": "OutletLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Route",
											"type": "String"
										},
										"sink": {
											"name": "Route",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Market",
											"type": "String"
										},
										"sink": {
											"name": "Market",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Segment",
											"type": "String"
										},
										"sink": {
											"name": "Segment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletClass",
											"type": "String"
										},
										"sink": {
											"name": "OutletClass",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TopBronze",
											"type": "Boolean"
										},
										"sink": {
											"name": "TopBronze",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "TradingChain",
											"type": "String"
										},
										"sink": {
											"name": "TradingChain",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GMArea",
											"type": "String"
										},
										"sink": {
											"name": "GMArea",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NumberOfGDM",
											"type": "Byte"
										},
										"sink": {
											"name": "NumberOfGDM",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "PICName",
											"type": "String"
										},
										"sink": {
											"name": "PICName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PICPhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "PICPhoneNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsStrategicOutlet",
											"type": "String"
										},
										"sink": {
											"name": "IsStrategicOutlet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StartDateTime",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "StartDateTime",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "EndDateTime",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "EndDateTime",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "PINID",
											"type": "Int32"
										},
										"sink": {
											"name": "PINID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RequestorPhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "RequestorPhoneNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EquipmentNumber",
											"type": "String"
										},
										"sink": {
											"name": "EquipmentNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EquipmentTypePlacement",
											"type": "String"
										},
										"sink": {
											"name": "EquipmentTypePlacement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EquipmentTypeRemoval",
											"type": "String"
										},
										"sink": {
											"name": "EquipmentTypeRemoval",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EquipmentDetailPosition",
											"type": "String"
										},
										"sink": {
											"name": "EquipmentDetailPosition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PowerSource",
											"type": "String"
										},
										"sink": {
											"name": "PowerSource",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DistanceEquipmentPower",
											"type": "String"
										},
										"sink": {
											"name": "DistanceEquipmentPower",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletOpenHour",
											"type": "String"
										},
										"sink": {
											"name": "OutletOpenHour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletClosedHour",
											"type": "String"
										},
										"sink": {
											"name": "OutletClosedHour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EquipmentReceiveHour",
											"type": "String"
										},
										"sink": {
											"name": "EquipmentReceiveHour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsOutletAddressDiff",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsOutletAddressDiff",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ReasonDiffOutletAddress",
											"type": "String"
										},
										"sink": {
											"name": "ReasonDiffOutletAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CorrectOutletAddress",
											"type": "String"
										},
										"sink": {
											"name": "CorrectOutletAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletPhoto",
											"type": "String"
										},
										"sink": {
											"name": "OutletPhoto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProposalFormPhoto",
											"type": "String"
										},
										"sink": {
											"name": "ProposalFormPhoto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PICPhoto",
											"type": "String"
										},
										"sink": {
											"name": "PICPhoto",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PICAutograph",
											"type": "String"
										},
										"sink": {
											"name": "PICAutograph",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CaseNumber",
											"type": "String"
										},
										"sink": {
											"name": "CaseNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CaseStatus",
											"type": "String"
										},
										"sink": {
											"name": "CaseStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CaseStatusReason",
											"type": "String"
										},
										"sink": {
											"name": "CaseStatusReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WONumberInstallation",
											"type": "String"
										},
										"sink": {
											"name": "WONumberInstallation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WOStatusInstallation",
											"type": "String"
										},
										"sink": {
											"name": "WOStatusInstallation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WONumberRemoval",
											"type": "String"
										},
										"sink": {
											"name": "WONumberRemoval",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WOStatusRemoval",
											"type": "String"
										},
										"sink": {
											"name": "WOStatusRemoval",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MaterialNumber",
											"type": "String"
										},
										"sink": {
											"name": "MaterialNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsBundling",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsBundling",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "DeliveryPlan",
											"type": "String"
										},
										"sink": {
											"name": "DeliveryPlan",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SellingCommitment",
											"type": "String"
										},
										"sink": {
											"name": "SellingCommitment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PromisedDeliveryDate",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "PromisedDeliveryDate",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "EqTypOthers",
											"type": "String"
										},
										"sink": {
											"name": "EqTypOthers",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TakeOutletLoc",
											"type": "String"
										},
										"sink": {
											"name": "TakeOutletLoc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsSubmittedToSFDC",
											"type": "Int32"
										},
										"sink": {
											"name": "IsSubmittedToSFDC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "IsSubmittedToServiceNow",
											"type": "Int32"
										},
										"sink": {
											"name": "IsSubmittedToServiceNow",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CategoryReported",
											"type": "String"
										},
										"sink": {
											"name": "CategoryReported",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HoldReason",
											"type": "String"
										},
										"sink": {
											"name": "HoldReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CDEBundlingCallResult",
											"type": "String"
										},
										"sink": {
											"name": "CDEBundlingCallResult",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WOTypeDescription",
											"type": "String"
										},
										"sink": {
											"name": "WOTypeDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SFDCRequest",
											"type": "String"
										},
										"sink": {
											"name": "SFDCRequest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SFDCResponse",
											"type": "String"
										},
										"sink": {
											"name": "SFDCResponse",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ServiceNowRequest",
											"type": "String"
										},
										"sink": {
											"name": "ServiceNowRequest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ServiceNowResponse",
											"type": "String"
										},
										"sink": {
											"name": "ServiceNowResponse",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RequestId",
											"type": "String"
										},
										"sink": {
											"name": "RequestId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSM",
											"type": "String"
										},
										"sink": {
											"name": "DSM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SM",
											"type": "String"
										},
										"sink": {
											"name": "SM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SR",
											"type": "String"
										},
										"sink": {
											"name": "SR",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Core",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncFromData from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from now function",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "CORE_MyEquipment"
					},
					"SyncDataFrom": {
						"type": "String"
					},
					"SyncDataTo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Core')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/IR2_REPORT_PRODUCTION')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Customer')]"
			]
		}
	]
}