templates/Integration to Report DB/Integration to Report DB.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"IR2_REPORT_PRODUCTION": {
			"type": "string"
		},
		"IaaS_SALES_PRODUCTION": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SAM Survey Transaction All')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"description": "Copy Call History",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_SurveyTransaction]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_SurveyTransaction_upsert]",
								"sqlWriterTableType": "typeSAM_SurveyTransaction",
								"storedProcedureTableTypeParameterName": "SAM_SurveyTransaction"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "Route",
											"type": "String"
										},
										"sink": {
											"name": "Route",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletNumber",
											"type": "String"
										},
										"sink": {
											"name": "OutletNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WindowsId",
											"type": "String"
										},
										"sink": {
											"name": "WindowsId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SurveyId",
											"type": "Int32"
										},
										"sink": {
											"name": "SurveyId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SurveyDescription",
											"type": "String"
										},
										"sink": {
											"name": "SurveyDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StartSurveyDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "StartSurveyDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EndSurveyDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "EndSurveyDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Comment",
											"type": "String"
										},
										"sink": {
											"name": "Comment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SurveyType",
											"type": "String"
										},
										"sink": {
											"name": "SurveyType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FlagTransaction",
											"type": "String"
										},
										"sink": {
											"name": "FlagTransaction",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TotalScore",
											"type": "Double"
										},
										"sink": {
											"name": "TotalScore",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										},
										"sink": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ReasonCode",
											"type": "String"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReasonDescription",
											"type": "String"
										},
										"sink": {
											"name": "ReasonDescription",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('IR2_REPORT_PRODUCTION')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('IR2_REPORT_PRODUCTION')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataFrom from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.NowTime",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Copy from IaaS Detail",
						"description": "Copy Call History Detail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update Last Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_SurveyTransactionAnswer]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_SurveyTransactionAnswer_upsert]",
								"sqlWriterTableType": "typeSAM_SurveyTransactionAnswer",
								"storedProcedureTableTypeParameterName": "SAM_SurveyTransactionAnswer"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "SectionName",
											"type": "String"
										},
										"sink": {
											"name": "SectionName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestionSequence",
											"type": "Int32"
										},
										"sink": {
											"name": "QuestionSequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "QuestionId",
											"type": "Int32"
										},
										"sink": {
											"name": "QuestionId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "QuestionDescription",
											"type": "String"
										},
										"sink": {
											"name": "QuestionDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestionType",
											"type": "String"
										},
										"sink": {
											"name": "QuestionType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AnswerCode",
											"type": "String"
										},
										"sink": {
											"name": "AnswerCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AnswerText",
											"type": "String"
										},
										"sink": {
											"name": "AnswerText",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Notes",
											"type": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update Success Child",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS Detail').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('ChildTableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS Detail').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('IR2_REPORT_PRODUCTION')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message Child",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS Detail",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS Detail').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('ChildTableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('IR2_REPORT_PRODUCTION')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "SAM_SurveyTransaction"
					},
					"SyncDataFrom": {
						"type": "String"
					},
					"SyncDataTo": {
						"type": "String"
					},
					"ChildTableName": {
						"type": "String",
						"defaultValue": "SAM_SurveyTransactionAnswer"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Sales_IaaS')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Users')]",
				"[concat(variables('factoryId'), '/datasets/Production_Report_SAM_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Sales_IaaS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('IaaS_SALES_PRODUCTION')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Report_SAM_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('IR2_REPORT_PRODUCTION')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production/Report DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UserId",
						"type": "uniqueidentifier"
					},
					{
						"name": "UserName",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "SecondaryPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "PaymentAccess",
						"type": "bit"
					},
					{
						"name": "EmailOptIn",
						"type": "bit"
					},
					{
						"name": "CurrentCustomerSite",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CurrentCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "BDECustomerSite",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BDECustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "RouteSite",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SapUserName",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExternalUserId",
						"type": "nvarchar"
					},
					{
						"name": "PinID",
						"type": "nvarchar"
					},
					{
						"name": "RoleId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Application",
						"type": "text"
					},
					{
						"name": "Status",
						"type": "bit"
					},
					{
						"name": "LocationCode",
						"type": "nvarchar"
					},
					{
						"name": "PersonnelNumber",
						"type": "nvarchar"
					},
					{
						"name": "SubLoc",
						"type": "nvarchar"
					},
					{
						"name": "PositionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAM_Users"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Report_SAM_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('IR2_REPORT_PRODUCTION')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Number",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ArticleGroupingListId",
						"type": "nvarchar"
					},
					{
						"name": "BillToCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxClass",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "RegionCode",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "TelNumber",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "PrecinctId",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "MarketTypeId",
						"type": "nvarchar"
					},
					{
						"name": "TradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "SubTradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerId",
						"type": "nvarchar"
					},
					{
						"name": "TradeNameId",
						"type": "nvarchar"
					},
					{
						"name": "CustomerTypeId",
						"type": "nvarchar"
					},
					{
						"name": "AccountGroupId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessTypeId",
						"type": "nvarchar"
					},
					{
						"name": "OperationalRegionId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseTypeId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseNumber",
						"type": "nvarchar"
					},
					{
						"name": "AcsNumber",
						"type": "nvarchar"
					},
					{
						"name": "AtoNumber",
						"type": "nvarchar"
					},
					{
						"name": "WholesalerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCustomerNumberId",
						"type": "nvarchar"
					},
					{
						"name": "HardStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "HardEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "ServicePolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SalesPolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionId",
						"type": "nvarchar"
					},
					{
						"name": "CreditBlock",
						"type": "bit"
					},
					{
						"name": "OrderBlockId",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryServiceCoordinatorId",
						"type": "nvarchar"
					},
					{
						"name": "PreferredOrderMethodId",
						"type": "nvarchar"
					},
					{
						"name": "PurchaseOrderRequiredId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOfficeId",
						"type": "nvarchar"
					},
					{
						"name": "TermsOfPaymentId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOrganisationId",
						"type": "nvarchar"
					},
					{
						"name": "DistributionChannelId",
						"type": "nvarchar"
					},
					{
						"name": "DivisionId",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PriceBookId",
						"type": "nvarchar"
					},
					{
						"name": "ConditionGroup1Id",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryDelayDays",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerEmail",
						"type": "nvarchar"
					},
					{
						"name": "RewardStatusId",
						"type": "nvarchar"
					},
					{
						"name": "RewardTierId",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "nvarchar"
					},
					{
						"name": "FaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "StoreNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "VatRegisteredNumber",
						"type": "nvarchar"
					},
					{
						"name": "EquipmentContractNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerProFormaPricingId",
						"type": "nvarchar"
					},
					{
						"name": "CreditCardSurcharge",
						"type": "nvarchar"
					},
					{
						"name": "StoreKeyNumber",
						"type": "nvarchar"
					},
					{
						"name": "HasPrintEAN",
						"type": "bit"
					},
					{
						"name": "IsWETExempt",
						"type": "bit"
					},
					{
						"name": "BlackCode",
						"type": "nvarchar"
					},
					{
						"name": "RedCode",
						"type": "nvarchar"
					},
					{
						"name": "L4Customer",
						"type": "nvarchar"
					},
					{
						"name": "L5Customer",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionFlag",
						"type": "nvarchar"
					},
					{
						"name": "SalesFlag",
						"type": "nvarchar"
					},
					{
						"name": "L4CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "L5CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "NationalOrOperation",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagCode",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterCode",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterDescription",
						"type": "nvarchar"
					},
					{
						"name": "BankAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "nvarchar"
					},
					{
						"name": "MaxOverdueGraceDay",
						"type": "nvarchar"
					},
					{
						"name": "SalesRoute",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "MarketingMessages",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlag",
						"type": "nvarchar"
					},
					{
						"name": "DSM",
						"type": "nvarchar"
					},
					{
						"name": "BU",
						"type": "nvarchar"
					},
					{
						"name": "Statloc",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "DistCenter",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAM_Customers"
				}
			},
			"dependsOn": []
		}
	]
}