pipeline/3 eTax Read Status.json
{
	"name": "3 eTax Read Status",
	"properties": {
		"activities": [
			{
				"name": "Get Status Sending",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": "VW_eTaxFileLogWaitingResponse",
							"secret": {
								"value": "@variables('KeyVaultCore')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach waiting status",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Status Sending",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Status Sending').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Success",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "FileInBlob",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('BlobContainer')",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(variables('BlobSuccessFolder'),formatDateTime(item().SentDate,'yyyyMMdd'),'/')",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().Messageid,'.json')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "If found in Success",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Success').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Exe Pipeline - Move to Sent",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Copy or Move File idcbtap22",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sourceDirectory": {
													"value": "@concat(pipeline().parameters.sourceDirectory,'/Sending')",
													"type": "Expression"
												},
												"sourceFilename": "new",
												"targetDirectory": {
													"value": "@concat(pipeline().parameters.sourceDirectory,'/Sent/',item().Operation,formatDateTime(item().SentDate,'/yyyy/MM - MMMM/dd'))",
													"type": "Expression"
												},
												"targetFilename": "new",
												"isMove": {
													"value": "true",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Get failedz",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "If found in Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "FileInBlob",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('BlobContainer')",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(variables('BlobSuccessFolder'),formatDateTime(item().SentDate,'yyyyMMdd'),'/')",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().Messageid,'.json')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "If found in Success_copy1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get failedz",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Success').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Exe Pipeline - Move to Sent_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Copy or Move File idcbtap22",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sourceDirectory": {
													"value": "@concat(pipeline().parameters.sourceDirectory,'/Sending')",
													"type": "Expression"
												},
												"sourceFilename": "new",
												"targetDirectory": {
													"value": "@concat(pipeline().parameters.sourceDirectory,'/Sent/',item().Operation,formatDateTime(item().SentDate,'/yyyy/MM - MMMM/dd'))",
													"type": "Expression"
												},
												"targetFilename": "new",
												"isMove": {
													"value": "true",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceDirectory": {
				"type": "string",
				"defaultValue": "Dev\\Pdf"
			}
		},
		"variables": {
			"KeyVaultCore": {
				"type": "String",
				"defaultValue": "azure-sql-dev-core"
			},
			"BlobContainer": {
				"type": "String",
				"defaultValue": "messaging"
			},
			"BlobSuccessFolder": {
				"type": "String",
				"defaultValue": "Success/eTaxdev/"
			},
			"BlobFailFolder": {
				"type": "String",
				"defaultValue": "Failed/eTaxdev/"
			}
		},
		"folder": {
			"name": "eTAX"
		},
		"annotations": []
	}
}