pipeline/Copy SQL to SQL.json
{
	"name": "Copy SQL to SQL",
	"properties": {
		"activities": [
			{
				"name": "Check Target Table",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": {
								"value": "@pipeline().parameters.targetTable",
								"type": "Expression"
							},
							"secret": {
								"value": "@pipeline().parameters.targetSecret",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "Switch is source Type and target table exists",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Check Target Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@concat(pipeline().parameters.sourceDbType,'-',string(activity('Check Target Table').output.exists))",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "PaaS-1",
							"activities": [
								{
									"name": "Copy SQL to SQL w Truncate",
									"description": "Truncate before copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.targetTable)}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.sourceTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.sourceSecret",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.targetTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.targetSecret",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "Paas-0",
							"activities": [
								{
									"name": "Copy SQL to SQL wo Truncate",
									"description": "Copy without truncate first",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.sourceTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.sourceSecret",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.targetTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.targetSecret",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "IaaS-1",
							"activities": [
								{
									"name": "Copy SQL IaaS to SQL w Truncate",
									"description": "Truncate before copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.targetTable)}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "GenericSqlServer_CCAIDWPRDB004",
											"type": "DatasetReference",
											"parameters": {
												"secret": {
													"value": "@pipeline().parameters.sourceSecret",
													"type": "Expression"
												},
												"table": {
													"value": "@pipeline().parameters.sourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.targetTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.targetSecret",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "IaaS-0",
							"activities": [
								{
									"name": "Copy SQL IaaS to SQL wo Truncate",
									"description": "Truncate before copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "GenericSqlServer_CCAIDWPRDB004",
											"type": "DatasetReference",
											"parameters": {
												"secret": {
													"value": "@pipeline().parameters.sourceSecret",
													"type": "Expression"
												},
												"table": {
													"value": "@pipeline().parameters.sourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.targetTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.targetSecret",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sourceSecret": {
				"type": "string"
			},
			"sourceTable": {
				"type": "string"
			},
			"sourceDbType": {
				"type": "string",
				"defaultValue": "PaaS"
			},
			"targetSecret": {
				"type": "string"
			},
			"targetTable": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Master Template"
		},
		"annotations": []
	}
}