pipeline/Copy Blob To SQL.json
{
	"name": "Copy Blob To SQL",
	"properties": {
		"activities": [
			{
				"name": "List All Data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spIntegrationDataMaster_GetAll]"
					},
					"dataset": {
						"referenceName": "Production_Report",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List All Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List All Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "zipped",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "SendUserGps.zip",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": "[dbo].[spStagging_DMSUserGps_Insert]",
									"sqlWriterTableType": "typeStagging_DMSUserGps",
									"storedProcedureTableTypeParameterName": "typeStagging_DMSUserGps"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ZipFile",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "|",
											"type": "Expression"
										},
										"directory": {
											"value": "ZipDeflate",
											"type": "Expression"
										},
										"filename": {
											"value": "Optimal",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Production_Report",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data1_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "zipped",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "SendUserGps.zip",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": {
							"value": "spStagging_DMSUserGps_Insert",
							"type": "Expression"
						},
						"sqlWriterTableType": {
							"value": "typeStagging_DMSUserGps",
							"type": "Expression"
						},
						"storedProcedureTableTypeParameterName": {
							"value": "typeStagging_DMSUserGps",
							"type": "Expression"
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PinID"
								},
								"sink": {
									"name": "PinID"
								}
							},
							{
								"source": {
									"name": "EmployeeName",
									"type": "String"
								},
								"sink": {
									"name": "EmployeeName"
								}
							},
							{
								"source": {
									"name": "PlotTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "PlotTime"
								}
							},
							{
								"source": {
									"name": "Longitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "Longitude"
								}
							},
							{
								"source": {
									"name": "Latitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "Latitude"
								}
							},
							{
								"source": {
									"name": "EmployeeName2"
								},
								"sink": {
									"name": "EmployeeName2"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ZipFile",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "integration",
								"type": "Expression"
							},
							"directory": {
								"value": "zipped",
								"type": "Expression"
							},
							"filename": {
								"value": "SendUserGps.zip",
								"type": "Expression"
							},
							"deliminator": {
								"value": "|",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Production_Report",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"SourceContainer": {
				"type": "string"
			}
		},
		"variables": {
			"spInsertTable": {
				"type": "String"
			},
			"typeTable": {
				"type": "String"
			},
			"tableTableParameter": {
				"type": "String"
			},
			"compressionType": {
				"type": "String",
				"defaultValue": "ZipDeflate"
			},
			"compressionLevel": {
				"type": "String",
				"defaultValue": "Optimal"
			},
			"mapping": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Master"
		},
		"annotations": []
	}
}