pipeline/Copy ZIPCSV to SQL.json
{
	"name": "Copy ZIPCSV to SQL",
	"properties": {
		"description": "Copy CSV (Zipped) to SQL from blob storage",
		"activities": [
			{
				"name": "Copy blob to Table",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{if(pipeline().parameters.isTruncate,concat('TRUNCATE TABLE ',pipeline().parameters.staggingTable),'')}",
							"type": "Expression"
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ZipFile",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.file",
								"type": "Expression"
							},
							"deliminator": {
								"value": "@pipeline().parameters.deliminator",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": {
								"value": "@pipeline().parameters.staggingTable",
								"type": "Expression"
							},
							"secret": {
								"value": "@pipeline().parameters.secret",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Move Blob to Success folder",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FileInBlob",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.file",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "FileInBlob",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"directory": {
								"value": "@concat(pipeline().parameters.backupFolder,'/',variables('status'))",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(formatDateTime(utcnow(),'yyyyMMddhhmmss'),'_',pipeline().parameters.file)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy blob to Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "directory",
					"value": {
						"value": "@concat(pipeline().parameters.backupFolder, '/successed')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable fail",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy blob to Table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "directory",
					"value": {
						"value": "@concat(pipeline().parameters.backupFolder, '/failed')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy Blob to Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable fail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy Blob to Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string",
				"defaultValue": "integration"
			},
			"directory": {
				"type": "string",
				"defaultValue": "zipped"
			},
			"file": {
				"type": "string",
				"defaultValue": "SendUserGps.zip"
			},
			"deliminator": {
				"type": "string",
				"defaultValue": "|"
			},
			"staggingTable": {
				"type": "string",
				"defaultValue": "Stagging_DMSUserGps"
			},
			"spProcess": {
				"type": "string",
				"defaultValue": "spProcess_DmsUserGps"
			},
			"secret": {
				"type": "string",
				"defaultValue": "azure-sql-prd-report"
			},
			"isTruncate": {
				"type": "bool",
				"defaultValue": true
			},
			"backupFolder": {
				"type": "string",
				"defaultValue": "backup"
			}
		},
		"variables": {
			"directory": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Master Template"
		},
		"annotations": []
	}
}