pipeline/CORE My Equipment.json
{
	"name": "CORE My Equipment",
	"properties": {
		"activities": [
			{
				"name": "Copy from IaaS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "if to Date blank",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If from Date blank",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spExport_MyEquipment]",
						"storedProcedureParameters": {
							"SyncFromDate": {
								"type": "DateTime",
								"value": {
									"value": "@variables('SyncDataFrom')",
									"type": "Expression"
								}
							},
							"SyncToDate": {
								"type": "DateTime",
								"value": {
									"value": "@variables('SyncDataTo')",
									"type": "Expression"
								}
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[spCORE_MyEquipment_upsert]",
						"sqlWriterTableType": "typeCORE_MyEquipment",
						"storedProcedureTableTypeParameterName": "CORE_MyEquipment"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Guid"
								},
								"sink": {
									"name": "Id",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "SurveyTransactionId",
									"type": "Guid"
								},
								"sink": {
									"name": "SurveyTransactionId",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "RequestNumber",
									"type": "String"
								},
								"sink": {
									"name": "RequestNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RequestType",
									"type": "String"
								},
								"sink": {
									"name": "RequestType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RequestReason",
									"type": "String"
								},
								"sink": {
									"name": "RequestReason",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OutletNumber",
									"type": "Int32"
								},
								"sink": {
									"name": "OutletNumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "OutletLocation",
									"type": "String"
								},
								"sink": {
									"name": "OutletLocation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Route",
									"type": "String"
								},
								"sink": {
									"name": "Route",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Market",
									"type": "String"
								},
								"sink": {
									"name": "Market",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Segment",
									"type": "String"
								},
								"sink": {
									"name": "Segment",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OutletClass",
									"type": "String"
								},
								"sink": {
									"name": "OutletClass",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TopBronze",
									"type": "Boolean"
								},
								"sink": {
									"name": "TopBronze",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "TradingChain",
									"type": "String"
								},
								"sink": {
									"name": "TradingChain",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GMArea",
									"type": "String"
								},
								"sink": {
									"name": "GMArea",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NumberOfGDM",
									"type": "Byte"
								},
								"sink": {
									"name": "NumberOfGDM",
									"type": "Byte"
								}
							},
							{
								"source": {
									"name": "PICName",
									"type": "String"
								},
								"sink": {
									"name": "PICName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PICPhoneNumber",
									"type": "String"
								},
								"sink": {
									"name": "PICPhoneNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IsStrategicOutlet",
									"type": "String"
								},
								"sink": {
									"name": "IsStrategicOutlet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StartDateTime",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "StartDateTime",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"name": "EndDateTime",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "EndDateTime",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"name": "PINID",
									"type": "Int32"
								},
								"sink": {
									"name": "PINID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "RequestorPhoneNumber",
									"type": "String"
								},
								"sink": {
									"name": "RequestorPhoneNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EquipmentNumber",
									"type": "String"
								},
								"sink": {
									"name": "EquipmentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EquipmentTypePlacement",
									"type": "String"
								},
								"sink": {
									"name": "EquipmentTypePlacement",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EquipmentTypeRemoval",
									"type": "String"
								},
								"sink": {
									"name": "EquipmentTypeRemoval",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EquipmentDetailPosition",
									"type": "String"
								},
								"sink": {
									"name": "EquipmentDetailPosition",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PowerSource",
									"type": "String"
								},
								"sink": {
									"name": "PowerSource",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DistanceEquipmentPower",
									"type": "String"
								},
								"sink": {
									"name": "DistanceEquipmentPower",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OutletOpenHour",
									"type": "String"
								},
								"sink": {
									"name": "OutletOpenHour",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OutletClosedHour",
									"type": "String"
								},
								"sink": {
									"name": "OutletClosedHour",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EquipmentReceiveHour",
									"type": "String"
								},
								"sink": {
									"name": "EquipmentReceiveHour",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IsOutletAddressDiff",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsOutletAddressDiff",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ReasonDiffOutletAddress",
									"type": "String"
								},
								"sink": {
									"name": "ReasonDiffOutletAddress",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CorrectOutletAddress",
									"type": "String"
								},
								"sink": {
									"name": "CorrectOutletAddress",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OutletPhoto",
									"type": "String"
								},
								"sink": {
									"name": "OutletPhoto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProposalFormPhoto",
									"type": "String"
								},
								"sink": {
									"name": "ProposalFormPhoto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PICPhoto",
									"type": "String"
								},
								"sink": {
									"name": "PICPhoto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PICAutograph",
									"type": "String"
								},
								"sink": {
									"name": "PICAutograph",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CaseNumber",
									"type": "String"
								},
								"sink": {
									"name": "CaseNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CaseStatus",
									"type": "String"
								},
								"sink": {
									"name": "CaseStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CaseStatusReason",
									"type": "String"
								},
								"sink": {
									"name": "CaseStatusReason",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WONumberInstallation",
									"type": "String"
								},
								"sink": {
									"name": "WONumberInstallation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WOStatusInstallation",
									"type": "String"
								},
								"sink": {
									"name": "WOStatusInstallation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WONumberRemoval",
									"type": "String"
								},
								"sink": {
									"name": "WONumberRemoval",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WOStatusRemoval",
									"type": "String"
								},
								"sink": {
									"name": "WOStatusRemoval",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MaterialNumber",
									"type": "String"
								},
								"sink": {
									"name": "MaterialNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IsBundling",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsBundling",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "DeliveryPlan",
									"type": "String"
								},
								"sink": {
									"name": "DeliveryPlan",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SellingCommitment",
									"type": "String"
								},
								"sink": {
									"name": "SellingCommitment",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PromisedDeliveryDate",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "PromisedDeliveryDate",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"name": "EqTypOthers",
									"type": "String"
								},
								"sink": {
									"name": "EqTypOthers",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TakeOutletLoc",
									"type": "String"
								},
								"sink": {
									"name": "TakeOutletLoc",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IsSubmittedToSFDC",
									"type": "Int32"
								},
								"sink": {
									"name": "IsSubmittedToSFDC",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "IsSubmittedToServiceNow",
									"type": "Int32"
								},
								"sink": {
									"name": "IsSubmittedToServiceNow",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CategoryReported",
									"type": "String"
								},
								"sink": {
									"name": "CategoryReported",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "HoldReason",
									"type": "String"
								},
								"sink": {
									"name": "HoldReason",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CDEBundlingCallResult",
									"type": "String"
								},
								"sink": {
									"name": "CDEBundlingCallResult",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WOTypeDescription",
									"type": "String"
								},
								"sink": {
									"name": "WOTypeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SFDCRequest",
									"type": "String"
								},
								"sink": {
									"name": "SFDCRequest",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SFDCResponse",
									"type": "String"
								},
								"sink": {
									"name": "SFDCResponse",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ServiceNowRequest",
									"type": "String"
								},
								"sink": {
									"name": "ServiceNowRequest",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ServiceNowResponse",
									"type": "String"
								},
								"sink": {
									"name": "ServiceNowResponse",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RequestId",
									"type": "String"
								},
								"sink": {
									"name": "RequestId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DSM",
									"type": "String"
								},
								"sink": {
									"name": "DSM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SM",
									"type": "String"
								},
								"sink": {
									"name": "SM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SR",
									"type": "String"
								},
								"sink": {
									"name": "SR",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Production_Core",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Production_Report_SAM_Users",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Last Sync Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy from IaaS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spImportFromSAM_UpsertLastSyncDate]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LastSyncDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"Status": {
							"value": {
								"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"SyncDataFrom": {
							"value": {
								"value": "@variables('SyncDataFrom')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"SyncDataTo": {
							"value": {
								"value": "@variables('SyncDataTo')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"TableName": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TotalRecords": {
							"value": {
								"value": "@activity('Copy from IaaS').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Error Message",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy from IaaS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spImportFromSAM_UpsertLastSyncDate]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": {
								"value": "@activity('Copy from IaaS').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastSyncDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"Status": {
							"value": "Error",
							"type": "String"
						},
						"SyncDataFrom": {
							"value": {
								"value": "@variables('SyncDataFrom')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"SyncDataTo": {
							"value": {
								"value": "@variables('SyncDataTo')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"TableName": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TotalRecords": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup Sync Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spImportFromSAM_GetLastSyncDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": {
									"value": "@variables('TableName')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "Production_Report_SAM_Customer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If from Date blank",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Sync Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SyncDataFrom from parameter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataFrom",
								"value": {
									"value": "@pipeline().parameters.SyncDataFrom",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SyncFromData from Table",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataFrom",
								"value": {
									"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "if to Date blank",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Sync Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SyncDataTo from Parameter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataTo",
								"value": {
									"value": "@pipeline().parameters.SyncDataTo",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SyncDataTo from now function",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataTo",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SyncDataFrom": {
				"type": "string",
				"defaultValue": "-"
			},
			"SyncDataTo": {
				"type": "string",
				"defaultValue": "-"
			}
		},
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "CORE_MyEquipment"
			},
			"SyncDataFrom": {
				"type": "String"
			},
			"SyncDataTo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Production/Export To Reporting/from SAM"
		},
		"annotations": []
	}
}