pipeline/CSV - Report SQL.json
{
	"name": "CSV - Report SQL",
	"properties": {
		"description": "Copy CSV (Zipped) to SQL from blob storage",
		"activities": [
			{
				"name": "move to success folder",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy or Move in Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"container": {
							"value": "@pipeline().parameters.container",
							"type": "Expression"
						},
						"sourceDirectory": {
							"value": "@pipeline().parameters.directory",
							"type": "Expression"
						},
						"sourceFile": {
							"value": "@pipeline().parameters.file",
							"type": "Expression"
						},
						"targetDirectory": "",
						"targetFile": "",
						"isMove": "false"
					}
				}
			},
			{
				"name": "move to fail folder",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy or Move in Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "List All Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spIntegrationDataMaster_GetAll]"
					},
					"dataset": {
						"referenceName": "Production_Report",
						"type": "DatasetReference",
						"parameters": {
							"table": "IntegrationDataMaster"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List All Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List All Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy CSV to SQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": "integration",
									"directory": "zipped",
									"file": "SendUserGps.zip",
									"deliminator": "|",
									"staggingTable": "Stagging_DMSUserGps",
									"secret": "azure-sql-prd-report",
									"isTruncate": "true",
									"isZipped": "false"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string",
				"defaultValue": "integration"
			},
			"directory": {
				"type": "string",
				"defaultValue": "zipped"
			},
			"file": {
				"type": "string",
				"defaultValue": "SendUserGps.zip"
			},
			"deliminator": {
				"type": "string",
				"defaultValue": "|"
			},
			"staggingTable": {
				"type": "string",
				"defaultValue": "Stagging_DMSUserGps"
			},
			"spProcess": {
				"type": "string",
				"defaultValue": "spProcess_DmsUserGps"
			},
			"secret": {
				"type": "string",
				"defaultValue": "azure-sql-prd-report"
			},
			"isTruncate": {
				"type": "bool",
				"defaultValue": true
			},
			"backupFolder": {
				"type": "string",
				"defaultValue": "backup"
			}
		},
		"variables": {
			"directory": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Production/Export To Reporting"
		},
		"annotations": []
	}
}