pipeline/CSV - Report SQL.json
{
	"name": "CSV - Report SQL",
	"properties": {
		"description": "Copy CSV (Zipped) to SQL from blob storage",
		"activities": [
			{
				"name": "List All Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"dataset": {
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": "IntegrationDataMaster",
							"secret": "azure-sql-prd-report"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List All Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List All Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy blob to SQL Report",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy CSV to SQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": {
										"value": "@item.container",
										"type": "Expression"
									},
									"directory": {
										"value": "@item.sourceDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@item.sourceFilename",
										"type": "Expression"
									},
									"deliminator": {
										"value": "@item.deliminator",
										"type": "Expression"
									},
									"staggingTable": {
										"value": "@item.staggingTable",
										"type": "Expression"
									},
									"secret": {
										"value": "@item.keyVaultSQL",
										"type": "Expression"
									},
									"isTruncate": "true",
									"isZipped": {
										"value": "@item.isZipped",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "move to success folder",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy blob to SQL Report",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy or Move in Blob",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": {
										"value": "@item.container",
										"type": "Expression"
									},
									"targetDirectory": "",
									"targetFile": "",
									"isMove": "true"
								}
							}
						},
						{
							"name": "move to fail folder",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy blob to SQL Report",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy or Move in Blob",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": "",
									"sourceDirectory": "",
									"sourceFile": "",
									"targetDirectory": "",
									"targetFile": "",
									"isMove": "true"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string",
				"defaultValue": "integration"
			},
			"directory": {
				"type": "string",
				"defaultValue": "zipped"
			},
			"file": {
				"type": "string",
				"defaultValue": "SendUserGps.zip"
			},
			"deliminator": {
				"type": "string",
				"defaultValue": "|"
			},
			"staggingTable": {
				"type": "string",
				"defaultValue": "Stagging_DMSUserGps"
			},
			"spProcess": {
				"type": "string",
				"defaultValue": "spProcess_DmsUserGps"
			},
			"secret": {
				"type": "string",
				"defaultValue": "azure-sql-prd-report"
			},
			"isTruncate": {
				"type": "bool",
				"defaultValue": true
			},
			"backupFolder": {
				"type": "string",
				"defaultValue": "backup"
			}
		},
		"variables": {
			"container": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Production/Export To Reporting"
		},
		"annotations": []
	}
}