pipeline/CSV - Report SQL.json
{
	"name": "CSV - Report SQL",
	"properties": {
		"description": "Copy CSV (Zipped) to SQL from blob storage",
		"activities": [
			{
				"name": "List All Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"dataset": {
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": "IntegrationDataMaster",
							"secret": "azure-sql-prd-report"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List All Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List All Data').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy blob to SQL Report",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy CSV to SQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": {
										"value": "@item().container",
										"type": "Expression"
									},
									"directory": {
										"value": "@item().sourceDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@item().sourceFilename",
										"type": "Expression"
									},
									"deliminator": {
										"value": "@item().deliminator",
										"type": "Expression"
									},
									"staggingTable": {
										"value": "@item().staggingTable",
										"type": "Expression"
									},
									"secret": {
										"value": "@item().keyVaultSQL",
										"type": "Expression"
									},
									"isTruncate": {
										"value": "@bool('false')",
										"type": "Expression"
									},
									"isZipped": {
										"value": "@bool(item().isZipped)",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "move to success folder",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Run Store Procedure to move to final table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy or Move in Blob",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": {
										"value": "@item().container",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@item().sourceDirectory",
										"type": "Expression"
									},
									"sourceFile": {
										"value": "@item().sourceFilename",
										"type": "Expression"
									},
									"targetDirectory": {
										"value": "@concat(item().backupDirectory,'/success/',formatDateTime(addhours(utcnow(),7),'yyyyMMdd'))",
										"type": "Expression"
									},
									"targetFile": {
										"value": "@concat(formatDateTime(addhours(utcnow(),7),'yyyyMMdd_hhmmss_'),item().sourceFilename)",
										"type": "Expression"
									},
									"isMove": "true"
								}
							}
						},
						{
							"name": "move to fail folder",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Run Store Procedure to move to final table",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy or Move in Blob",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": {
										"value": "@item().container",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@item().sourceDirectory",
										"type": "Expression"
									},
									"sourceFile": {
										"value": "@item().sourceFilename",
										"type": "Expression"
									},
									"targetDirectory": {
										"value": "@concat(item().backupDirectory,'/fail/',formatDateTime(addhours(utcnow(),7),'yyyyMMdd'))",
										"type": "Expression"
									},
									"targetFile": {
										"value": "@concat(formatDateTime(addhours(utcnow(),7),'yyyyMMdd_hhmmss_'),item().sourceFilename)",
										"type": "Expression"
									},
									"isMove": "true"
								}
							}
						},
						{
							"name": "Append error message",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Copy blob to SQL Report",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "error",
								"value": {
									"value": "@string(activity('Copy blob to SQL Report').output.errors)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append error message move fail folder",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "move to fail folder",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "error",
								"value": {
									"value": "@string(activity('move to fail folder').output.errors)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append error message move success folder",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "move to success folder",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "error",
								"value": {
									"value": "@string(activity('move to success folder').output.errors)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Run Store Procedure to move to final table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy blob to SQL Report",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().spProcessData",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "GenericAzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"Secret": {
										"value": "@item().keyVaultSQL",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Append error message when look up",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "List All Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@string(activity('List All Data').output.errors)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"error": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Production/Export To Reporting"
		},
		"annotations": []
	}
}