pipeline/CSV to SQL Report DB.json
{
	"name": "CSV to SQL Report DB",
	"properties": {
		"description": "Integration from CSV to SQL Report DB",
		"activities": [
			{
				"name": "List All Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spIntegrationDataMaster_GetAll]"
					},
					"dataset": {
						"referenceName": "Production_Report",
						"type": "DatasetReference",
						"parameters": {
							"table": "IntegrationDataMaster"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List All Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List All Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "zipped",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "SendUserGps.zip",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ZipFile",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "integration",
											"type": "Expression"
										},
										"directory": {
											"value": "zipped",
											"type": "Expression"
										},
										"filename": {
											"value": "SendUserGps.zip",
											"type": "Expression"
										},
										"deliminator": "|"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Production_Report",
									"type": "DatasetReference",
									"parameters": {
										"table": "spStagging_DMSUserGps"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceContainer": {
				"type": "string"
			}
		},
		"variables": {
			"spInsertTable": {
				"type": "String"
			},
			"typeTable": {
				"type": "String"
			},
			"tableTableParameter": {
				"type": "String"
			},
			"compressionType": {
				"type": "String",
				"defaultValue": "ZipDeflate"
			},
			"compressionLevel": {
				"type": "String",
				"defaultValue": "Optimal"
			},
			"mapping": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Production/Report DB"
		},
		"annotations": []
	}
}