pipeline/eTax File Management.json
{
	"name": "eTax File Management",
	"properties": {
		"activities": [
			{
				"name": "Get List of File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "File_in_idcbtap22",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"filename": "*.*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get List of File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "isPdf"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List of File').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute File",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "eTax Proses 1 file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourceDirectory": {
										"value": "@pipeline().parameters.directory",
										"type": "Expression"
									},
									"sourceFile": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string",
				"defaultValue": "dev/Pdf"
			}
		},
		"variables": {
			"newFilename": {
				"type": "Array"
			},
			"fileTarget": {
				"type": "String"
			},
			"isFile": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}