pipeline/eTax Send Email.json
{
	"name": "eTax Send Email",
	"properties": {
		"activities": [
			{
				"name": "Get Pdfs in To Be Sent",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "File_in_idcbtap22",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.sourceDirectory",
								"type": "Expression"
							},
							"filename": "*.*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "not found",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Pdfs in To Be Sent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Lookup Customer Info",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If Customer Info is found",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "spCustomer_GetEmailAndOperation",
									"storedProcedureParameters": {
										"CustomerNumber": {
											"value": {
												"value": "@variables('CustomerNumber')",
												"type": "Expression"
											}
										}
									}
								},
								"dataset": {
									"referenceName": "GenericAzureSQLDatabase",
									"type": "DatasetReference",
									"parameters": {
										"table": "Customers",
										"secret": "azure-sql-dev-masterdata"
									}
								}
							}
						},
						{
							"name": "If Customer Info is found",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Lookup Customer Info').output.contains('firstRow')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Update if customer info is not found",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Exe Pipeline - Move to inappropriate file_copy1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "spETaxFileLog_Update",
											"storedProcedureParameters": {
												"Email": {
													"value": null,
													"type": "String"
												},
												"ErrorMessage": {
													"value": {
														"value": "Customer Info is not found",
														"type": "Expression"
													},
													"type": "String"
												},
												"Filename": {
													"value": {
														"value": "@pipeline().parameters.sourceFile",
														"type": "Expression"
													},
													"type": "String"
												},
												"Folder": {
													"value": {
														"value": "Inappropriate File",
														"type": "Expression"
													},
													"type": "String"
												},
												"LastUpdateBy": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"NewFilename": {
													"value": null,
													"type": "String"
												},
												"SentDate": {
													"value": null,
													"type": "DateTime"
												},
												"Status": {
													"value": {
														"value": "I",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "GenericAzureSqlDatabase",
											"type": "LinkedServiceReference",
											"parameters": {
												"Secret": "azure-sql-dev-core"
											}
										}
									},
									{
										"name": "Exe Pipeline - Move to inappropriate file_copy1_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Copy or Move File idcbtap22",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sourceDirectory": {
													"value": "@pipeline().parameters.sourceDirectory",
													"type": "Expression"
												},
												"sourceFilename": {
													"value": "@pipeline().parameters.sourceFile",
													"type": "Expression"
												},
												"targetDirectory": {
													"value": "@concat(pipeline().parameters.sourceDirectory,'/Inappropriate File')",
													"type": "Expression"
												},
												"targetFilename": {
													"value": "@pipeline().parameters.sourceFile",
													"type": "Expression"
												},
												"isMove": "true"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Update Log - To Be Sent",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "spETaxFileLog_Update",
											"storedProcedureParameters": {
												"Email": {
													"value": {
														"value": "@activity('Lookup Customer Info').output.firstrow.Email",
														"type": "Expression"
													},
													"type": "String"
												},
												"ErrorMessage": {
													"value": null,
													"type": "String"
												},
												"Filename": {
													"value": {
														"value": "@pipeline().parameters.sourceFile",
														"type": "Expression"
													},
													"type": "String"
												},
												"Folder": {
													"value": {
														"value": "To be Sent",
														"type": "Expression"
													},
													"type": "String"
												},
												"LastUpdateBy": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"NewFilename": {
													"value": {
														"value": "@variables('newFilename')",
														"type": "Expression"
													},
													"type": "String"
												},
												"SentDate": {
													"value": null,
													"type": "DateTime"
												},
												"Status": {
													"value": {
														"value": "T",
														"type": "Expression"
													},
													"type": "String"
												},
												"EmailMessage": {
													"value": {
														"value": "@variables('emailMessage')",
														"type": "Expression"
													},
													"type": "String"
												},
												"Operation": {
													"value": {
														"value": "@activity('Lookup Customer Info').output.firstrow.Operation",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "GenericAzureSqlDatabase",
											"type": "LinkedServiceReference",
											"parameters": {
												"Secret": "azure-sql-dev-core"
											}
										}
									},
									{
										"name": "Exe Pipeline - Move to To Be Sent",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Update Log - To Be Sent",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Copy or Move File idcbtap22",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sourceDirectory": {
													"value": "@pipeline().parameters.sourceDirectory",
													"type": "Expression"
												},
												"sourceFilename": {
													"value": "@pipeline().parameters.sourceFile",
													"type": "Expression"
												},
												"targetDirectory": {
													"value": "@concat(pipeline().parameters.sourceDirectory,'/To Be Sent')",
													"type": "Expression"
												},
												"targetFilename": {
													"value": "@variables('newFilename')",
													"type": "Expression"
												},
												"isMove": "true"
											}
										}
									}
								]
							}
						},
						{
							"name": "List All File need to send",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "For each To Be Send files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource"
								},
								"dataset": {
									"referenceName": "GenericAzureSQLDatabase",
									"type": "DatasetReference",
									"parameters": {
										"table": "VW_eTaxFileLogToBeSent",
										"secret": "azure-sql-dev-core"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "For each To Be Send files",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Lookup Customer Info",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('List All File need to send').output.value",
									"type": "Expression"
								},
								"activities": [
									{
										"name": "Copy file to blob",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "get status",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "Stored Procedure1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": true
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "File_in_idcbtap22",
												"type": "DatasetReference",
												"parameters": {
													"directory": {
														"value": "@pipeline().parameters.sourceDirectory",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().NewFilename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "FileInBlob",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "etax",
														"type": "Expression"
													},
													"directory": {
														"value": "TempToBeSent",
														"type": "Expression"
													},
													"file": {
														"value": "@item().NewFilename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "get status",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00"
											},
											"dataset": {
												"referenceName": "GenericAzureSQLDatabase",
												"type": "DatasetReference",
												"parameters": {
													"table": "VW_eTaxFileLogToBeSent",
													"secret": "azure-sql-dev-core"
												}
											}
										}
									},
									{
										"name": "Stored Procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "get status",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spETaxFileLog_ProcessSending]",
											"storedProcedureParameters": {
												"Messageid": {
													"value": null,
													"type": "String"
												},
												"NewFilename": {
													"value": {
														"value": "@activity('List All File need to send').output.name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "GenericAzureSqlDatabase",
											"type": "LinkedServiceReference",
											"parameters": {
												"Secret": "azure-sql-dev-core"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceDirectory": {
				"type": "string",
				"defaultValue": "Dev\\Pdf\\To Be Sent"
			}
		},
		"folder": {
			"name": "eTAX"
		},
		"annotations": []
	}
}