pipeline/eTax Proses 1 file.json
{
	"name": "eTax Proses 1 file",
	"properties": {
		"activities": [
			{
				"name": "If file not is PDF",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(last(split(pipeline().parameters.sourceFile,'.')),'pdf'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Exe Pipeline - Move to inappropriate file",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy or Move File",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourceDirectory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"sourceFilename": {
										"value": "@pipeline().parameters.sourceFile",
										"type": "Expression"
									},
									"targetDirectory": {
										"value": "@concat(pipeline().parameters.sourceDirectory,'/Inappropriate File')",
										"type": "Expression"
									},
									"targetFilename": {
										"value": "@pipeline().parameters.sourceFile",
										"type": "Expression"
									},
									"isMove": "true"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup Invoice Info",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If file not is PDF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "spETax_GetInvoiceInfo",
						"storedProcedureParameters": {
							"TaxInvoice": {
								"type": "String",
								"value": {
									"value": "@split(pipeline().parameters.sourceFile,'-')[1]",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": "Orders",
							"secret": "azure-sql-dev-sales"
						}
					}
				}
			},
			{
				"name": "Lookup CCAI NPWP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If file not is PDF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('Select data From Configuration Where Application=''BACKEND'' and Mainkey=''CCAI_NPWP'' and Subkey=''',split(pipeline().parameters.sourceFile,'-')[0],'''')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": "Orders",
							"secret": "azure-sql-dev-core"
						}
					}
				}
			},
			{
				"name": "Lookup Customer Info",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup Invoice Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "spETax_GetCustomerInfo",
						"storedProcedureParameters": {
							"CustomerNumber": {
								"type": "String",
								"value": {
									"value": "@activity('Lookup Invoice Info').output.firstrow.CustomerNumber",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "GenericAzureSQLDatabase",
						"type": "DatasetReference",
						"parameters": {
							"table": "Orders",
							"secret": "azure-sql-dev-sales"
						}
					}
				}
			},
			{
				"name": "Exe Pipeline - Move to inappropriate1",
				"description": "CCAI NPWP is not found",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup CCAI NPWP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy or Move File",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceDirectory": {
							"value": "@pipeline().parameters.sourceDirectory",
							"type": "Expression"
						},
						"sourceFilename": {
							"value": "@pipeline().parameters.sourceFile",
							"type": "Expression"
						},
						"targetDirectory": {
							"value": "@concat(pipeline().parameters.sourceDirectory,'/Inappropriate File')",
							"type": "Expression"
						},
						"targetFilename": {
							"value": "@pipeline().parameters.sourceFile",
							"type": "Expression"
						},
						"isMove": "true"
					}
				}
			},
			{
				"name": "Exe Pipeline - Move to inappropriate2",
				"description": "TaxInvoice is not found",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup Invoice Info",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy or Move File",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceDirectory": {
							"value": "@pipeline().parameters.sourceDirectory",
							"type": "Expression"
						},
						"sourceFilename": {
							"value": "@pipeline().parameters.sourceFile",
							"type": "Expression"
						},
						"targetDirectory": {
							"value": "@concat(pipeline().parameters.sourceDirectory,'/Inappropriate File')",
							"type": "Expression"
						},
						"targetFilename": {
							"value": "@pipeline().parameters.sourceFile",
							"type": "Expression"
						},
						"isMove": "true"
					}
				}
			}
		],
		"parameters": {
			"sourceDirectory": {
				"type": "string",
				"defaultValue": "/dev/Pdf"
			},
			"sourceFile": {
				"type": "string",
				"defaultValue": "010706570201001-0100021927682470-031207392211000-20190731112502.pdf"
			}
		},
		"annotations": []
	}
}