pipeline/eTax 1 File Management.json
{
	"name": "eTax 1 File Management",
	"properties": {
		"activities": [
			{
				"name": "Get List of File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "File_in_idcbtap22",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"filename": "*.pdf"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach File PDF",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach Limit File that will be processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('fileList')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Execute File to lookup",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Create Log in SQL - PDF",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "eTax 2 Proses 1 file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourceDirectory": {
										"value": "@pipeline().parameters.directory",
										"type": "Expression"
									},
									"sourceFile": {
										"value": "@item().name",
										"type": "Expression"
									},
									"secretCore": {
										"value": "@pipeline().parameters.secretCore",
										"type": "Expression"
									},
									"secretSales": {
										"value": "@pipeline().parameters.secretSales",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Create Log in SQL - PDF",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "spETaxFileLog_Insert",
								"storedProcedureParameters": {
									"CreatedBy": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "GenericAzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"Secret": {
										"value": "@pipeline().parameters.secretCore",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter File only",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get List of File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List of File').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File PDF only",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Filter File only",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter File only').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(split(item().name,'.')[1],'pdf')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File not PDF",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Filter File only",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter File only').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(split(item().name,'.')[1],'pdf'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach File not PDF",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File not PDF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('File not PDF').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Update if invoice info is not found",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Create Log in SQL - not PDF",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "spETaxFileLog_Error",
								"storedProcedureParameters": {
									"Error": {
										"value": {
											"value": "File is not PDF",
											"type": "Expression"
										},
										"type": "String"
									},
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Folder": {
										"value": {
											"value": "Not PDF File",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastUpdateBy": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"NewFilename": {
										"value": null,
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "I",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "GenericAzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"Secret": {
										"value": "@pipeline().parameters.secretCore",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Exe Pipeline - Move to not PDF file folder",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Update if invoice info is not found",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy or Move File idcbtap22",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourceDirectory": {
										"value": "@pipeline().parameters.directory",
										"type": "Expression"
									},
									"sourceFilename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"targetDirectory": {
										"value": "@concat(pipeline().parameters.directory,'/Not PDF File')",
										"type": "Expression"
									},
									"targetFilename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"isMove": true
								}
							}
						},
						{
							"name": "Create Log in SQL - not PDF",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "spETaxFileLog_Insert",
								"storedProcedureParameters": {
									"CreatedBy": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "GenericAzureSqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"Secret": {
										"value": "@pipeline().parameters.secretCore",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach Limit File that will be processed",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File PDF only",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('File PDF only').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Array File list le max configuration",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@lessOrEquals(length(variables('fileList')),pipeline().parameters.maxFileProcessed)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Append File that will be processed",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "fileList",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"directory": {
				"type": "string",
				"defaultValue": "VAT Output 2\\VAT Output 3"
			},
			"secretCore": {
				"type": "string",
				"defaultValue": "azure-sql-prd-core"
			},
			"secretSales": {
				"type": "string",
				"defaultValue": "azure-sql-prd-sales"
			},
			"maxFileProcessed": {
				"type": "int",
				"defaultValue": 10
			}
		},
		"variables": {
			"newFilename": {
				"type": "Array"
			},
			"fileTarget": {
				"type": "String"
			},
			"isFile": {
				"type": "Boolean"
			},
			"fileList": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "eTAX"
		},
		"annotations": []
	}
}