pipeline/Export SAM to Report.json
{
	"name": "Export SAM to Report",
	"properties": {
		"activities": [
			{
				"name": "Execute SAM Users",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SAM Users",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SyncDataFrom": "-",
						"SyncDataTo": "-"
					}
				}
			},
			{
				"name": "Execute SAM Call History",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute SAM Users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SAM Call History",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SyncDataFrom": "2019-08-20",
						"SyncDataTo": "-"
					}
				}
			},
			{
				"name": "Execute SAM Call History Detail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute SAM Call History",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SAM Call History Detail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SyncDataFrom": "2018-08-20",
						"SyncDataTo": {
							"value": "@activity('Execute SAM Call History').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Production/Export To Reporting"
		},
		"annotations": []
	}
}