pipeline/Integration Data.json
{
	"name": "Integration Data",
	"properties": {
		"activities": [
			{
				"name": "List All Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spIntegrationDataMaster_GetAll]"
					},
					"dataset": {
						"referenceName": "Production_Report",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List All Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List All Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@{item().SourcePath}",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@{item().SourceFileName}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "UnprocessedCSV",
									"type": "DatasetReference",
									"parameters": {
										"deliminator": {
											"value": "@item().Deliminator",
											"type": "Expression"
										},
										"compressionType": {
											"value": "@item().CompressionType",
											"type": "Expression"
										},
										"compressionLevel": {
											"value": "@item().CompressionLevel",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Production_Report",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"spInsertTable": {
				"type": "String"
			},
			"typeTable": {
				"type": "String"
			},
			"tableTableParameter": {
				"type": "String"
			},
			"compressionType": {
				"type": "String",
				"defaultValue": "ZipDeflate"
			},
			"compressionLevel": {
				"type": "String",
				"defaultValue": "Optimal"
			}
		},
		"folder": {
			"name": "Production"
		},
		"annotations": []
	}
}