pipeline/Integration Data.json
{
	"name": "Integration Data",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFolderPath": "integration/zipped",
							"wildcardFileName": "SendUserGps.zip",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "\"PinID\"|\"EmployeeName\"|\"PlotTime\"|\"Longitude\"|\"Latitude\"|\"EmployeeName2\"",
									"type": "String"
								},
								"sink": {
									"name": "\"PinID\"|\"EmployeeName\"|\"PlotTime\"|\"Longitude\"|\"Latitude\"|\"EmployeeName2\"",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "UnprocessedCSV",
						"type": "DatasetReference",
						"parameters": {
							"deliminator": {
								"value": "@pipeline().parameters.deliminator",
								"type": "Expression"
							},
							"compressionType": {
								"value": "@if(pipeline().parameters.isZipped,variables('compressionType'),\"NONE\")",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Production_Report",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "UnprocessedCSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemType",
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"deliminator": {
				"type": "string",
				"defaultValue": ","
			},
			"isZipped": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"spInsertTable": {
				"type": "String"
			},
			"typeTable": {
				"type": "String"
			},
			"tableTableParameter": {
				"type": "String"
			},
			"compressionType": {
				"type": "String",
				"defaultValue": "ZipDeflate"
			},
			"compressionLevel": {
				"type": "String",
				"defaultValue": "Optimal"
			}
		},
		"annotations": []
	}
}