pipeline/Move File.json
{
	"name": "Move File",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "PdfFile_idcbtap22",
						"type": "DatasetReference",
						"parameters": {
							"directory": "dev\\pdf",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "PdfFile_idcbtap22",
									"type": "DatasetReference",
									"parameters": {
										"directory": "dev\\pdf",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "PdfFile_idcbtap22",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@concat('dev\\Output VAT',variables('folderOutput'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@variables('fileOutput')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT TaxInvoice From Orders')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "GenericAzureSQLDatabase",
									"type": "DatasetReference",
									"parameters": {
										"table": "Orders",
										"secret": "azure-sql-dev-sales"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "folderOutput",
								"value": "dev\\Output VAT\\2019\\11\\13"
							}
						},
						{
							"name": "Set variable1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileOutput",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"taxNumber": {
				"type": "String"
			},
			"fileOutput": {
				"type": "String"
			},
			"folderOutput": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Master Template"
		},
		"annotations": []
	}
}