pipeline/SAM Call History.json
{
	"name": "SAM Call History",
	"properties": {
		"activities": [
			{
				"name": "Copy from IaaS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "if to Date blank",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If from Date blank",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[spExport_CallHistory]",
						"storedProcedureParameters": {
							"SyncFromDate": {
								"type": "DateTime",
								"value": {
									"value": "@variables('SyncDataFrom')",
									"type": "Expression"
								}
							},
							"SyncToDate": {
								"type": "DateTime",
								"value": {
									"value": "@variables('SyncDataTo')",
									"type": "Expression"
								}
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[spSAM_CallHistory_upsert]",
						"sqlWriterTableType": "typeSAM_CallHistory",
						"storedProcedureTableTypeParameterName": "SAM_CallHistory"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CallHistoryId",
									"type": "Int32"
								},
								"sink": {
									"name": "CallHistoryId",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Site",
									"type": "Int32"
								},
								"sink": {
									"name": "Site",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ScreenID",
									"type": "String"
								},
								"sink": {
									"name": "ScreenID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UserId",
									"type": "Guid"
								},
								"sink": {
									"name": "UserId",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "PinId",
									"type": "String"
								},
								"sink": {
									"name": "PinId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RouteId",
									"type": "String"
								},
								"sink": {
									"name": "RouteId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CustomerNumber",
									"type": "String"
								},
								"sink": {
									"name": "CustomerNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LocationCode",
									"type": "String"
								},
								"sink": {
									"name": "LocationCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StartTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "StartTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "EndTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "EndTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Longitude",
									"type": "Double"
								},
								"sink": {
									"name": "Longitude",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Latitude",
									"type": "Double"
								},
								"sink": {
									"name": "Latitude",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "Accuracy",
									"type": "Int32"
								},
								"sink": {
									"name": "Accuracy",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ScheduleTypeId",
									"type": "String"
								},
								"sink": {
									"name": "ScheduleTypeId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SystemStatus",
									"type": "Int32"
								},
								"sink": {
									"name": "SystemStatus",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CallStatus",
									"type": "String"
								},
								"sink": {
									"name": "CallStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CancelledReason",
									"type": "String"
								},
								"sink": {
									"name": "CancelledReason",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FollowSequence",
									"type": "Boolean"
								},
								"sink": {
									"name": "FollowSequence",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "RequestResequence",
									"type": "Boolean"
								},
								"sink": {
									"name": "RequestResequence",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ProposeOutletBefore",
									"type": "Int32"
								},
								"sink": {
									"name": "ProposeOutletBefore",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ProposeOutletAfter",
									"type": "Int32"
								},
								"sink": {
									"name": "ProposeOutletAfter",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Remarks",
									"type": "String"
								},
								"sink": {
									"name": "Remarks",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UploadedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "UploadedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SystemDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "SystemDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "OffSequenceReason",
									"type": "String"
								},
								"sink": {
									"name": "OffSequenceReason",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Guid",
									"type": "Guid"
								},
								"sink": {
									"name": "Guid",
									"type": "Guid"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Production_Sales_IaaS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Production_Report_SAM_Users",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Last Sync Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy from IaaS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spImportFromSAM_UpsertLastSyncDate]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LastSyncDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"Status": {
							"value": {
								"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"SyncDataFrom": {
							"value": {
								"value": "@variables('SyncDataFrom')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"SyncDataTo": {
							"value": {
								"value": "@variables('SyncDataTo')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"TableName": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TotalRecords": {
							"value": {
								"value": "@activity('Copy from IaaS').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Error Message",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy from IaaS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spImportFromSAM_UpsertLastSyncDate]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": {
								"value": "@activity('Call History IaaS').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"LastSyncDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"Status": {
							"value": "Error",
							"type": "String"
						},
						"SyncDataFrom": {
							"value": {
								"value": "@variables('SyncDataFrom')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"SyncDataTo": {
							"value": {
								"value": "@variables('SyncDataTo')",
								"type": "Expression"
							},
							"type": "DateTimeOffset"
						},
						"TableName": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TotalRecords": {
							"value": null,
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup Sync Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spImportFromSAM_GetLastSyncDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": {
									"value": "@variables('TableName')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "Production_Report_SAM_Customer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If from Date blank",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Sync Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SyncDataFrom from parameter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataFrom",
								"value": {
									"value": "@pipeline().parameters.SyncDataFrom",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SyncFromData from Table",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataFrom",
								"value": {
									"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "if to Date blank",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Sync Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SyncDataTo from Parameter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataTo",
								"value": {
									"value": "@pipeline().parameters.SyncDataTo",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SyncDataTo from now function",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SyncDataTo",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SyncDataFrom": {
				"type": "string",
				"defaultValue": "-"
			},
			"SyncDataTo": {
				"type": "string",
				"defaultValue": "-"
			}
		},
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "SAM_CallHistory"
			},
			"SyncDataFrom": {
				"type": "String"
			},
			"SyncDataTo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Production/Export To Reporting/from SAM"
		},
		"annotations": []
	}
}