pipeline/Sending Email.json
{
	"name": "Sending Email",
	"properties": {
		"activities": [
			{
				"name": "Send Email",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set json Message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "PostMessage",
					"method": "POST",
					"body": {
						"value": "@json(variables('jsonBody'))",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "CoreFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set json Message",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsonBody",
					"value": {
						"value": "@replace(replace(replace(replace(replace(replace(replace(replace(variables('templateBody'),'~from~',pipeline().parameters.from),'~to~',pipeline().parameters.to),'~SUBJECT~',pipeline().parameters.subject),'~CONTENT~',pipeline().parameters.content),'~MESSAGEGUID~',pipeline().parameters.message_id),'~QUEUEGUID~',pipeline().parameters.Queue_id),'~cc~', pipeline().parameters.cc), '~bcc~', pipeline().parameters.bcc)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"from": {
				"type": "string"
			},
			"to": {
				"type": "string"
			},
			"message_id": {
				"type": "string"
			},
			"subject": {
				"type": "string"
			},
			"content": {
				"type": "string"
			},
			"Queue_id": {
				"type": "string"
			},
			"cc": {
				"type": "string"
			},
			"bcc": {
				"type": "string"
			}
		},
		"variables": {
			"jsonBody": {
				"type": "String"
			},
			"templateBody": {
				"type": "String",
				"defaultValue": "'{   \"queue_id\": \"~QUEUEGUID~\",   \"message\": {     \"type\": \"email\",     \"message_id\": \"~MESSAGEGUID~\",     \"from\": \"~from~\",     \"to\": \"~to~\",     \"cc\": \"~cc~\",     \"bcc\": \"~bcc~\",     \"subject\": \"~SUBJECT~\",     \"content\": \"~CONTENT~\",     \"attachment\": []   } }'"
			}
		},
		"folder": {
			"name": "Master Template"
		},
		"annotations": []
	}
}