ccaidauesadf001/PartialArmTemplates/ArmTemplate_11_12_2019_18_3_37.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ccaidauesadf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Integration Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "List All Data",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spIntegrationDataMaster_GetAll]"
							},
							"dataset": {
								"referenceName": "Production_Report",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "List All Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('List All Data').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "zipped",
													"type": "Expression"
												},
												"wildcardFileName": {
													"value": "SendUserGps.zip",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": "[[dbo].[spStagging_DMSUserGps_Insert]",
											"sqlWriterTableType": "typeStagging_DMSUserGps",
											"storedProcedureTableTypeParameterName": "typeStagging_DMSUserGps"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "UnprocessedCSV",
											"type": "DatasetReference",
											"parameters": {
												"deliminator": {
													"value": "|",
													"type": "Expression"
												},
												"compressionType": {
													"value": "ZipDeflate",
													"type": "Expression"
												},
												"compressionLevel": {
													"value": "Optimal",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Production_Report",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					},
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "zipped",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "SendUserGps.zip",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": {
									"value": "spStagging_DMSUserGps_Insert",
									"type": "Expression"
								},
								"sqlWriterTableType": {
									"value": "typeStagging_DMSUserGps",
									"type": "Expression"
								},
								"storedProcedureTableTypeParameterName": {
									"value": "typeStagging_DMSUserGps",
									"type": "Expression"
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "UnprocessedCSV",
								"type": "DatasetReference",
								"parameters": {
									"deliminator": {
										"value": "|",
										"type": "Expression"
									},
									"compressionType": {
										"value": "ZipDeflate",
										"type": "Expression"
									},
									"compressionLevel": {
										"value": "Optimal",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"spInsertTable": {
						"type": "String"
					},
					"typeTable": {
						"type": "String"
					},
					"tableTableParameter": {
						"type": "String"
					},
					"compressionType": {
						"type": "String",
						"defaultValue": "ZipDeflate"
					},
					"compressionLevel": {
						"type": "String",
						"defaultValue": "Optimal"
					},
					"mapping": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_Report')]",
				"[concat(variables('factoryId'), '/datasets/UnprocessedCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DmsUserGps')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SendUserGps.csv",
						"folderPath": "unprocessed",
						"container": "integration"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "\"20020581\"|\"IBNU MAJAH\"|\"2019-09-22 00:00:00.000\"|\"-1.03288\"|\"101.621\"|\"IBNU MAJAH\"",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DmsUserGpsZipped')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SendUserGps.zip",
						"folderPath": "unprocessed",
						"container": "integration"
					},
					"columnDelimiter": "|",
					"compressionCodec": {
						"value": "ZipDeflate",
						"type": "Expression"
					},
					"compressionLevel": {
						"value": "Optimal",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "\"20020581\"|\"IBNU MAJAH\"|\"2019-09-22 00:00:00.000\"|\"-1.03288\"|\"101.621\"|\"IBNU MAJAH\"",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Report')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production/Report DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Number",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ArticleGroupingListId",
						"type": "nvarchar"
					},
					{
						"name": "BillToCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxClass",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "RegionCode",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "TelNumber",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "PrecinctId",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "MarketTypeId",
						"type": "nvarchar"
					},
					{
						"name": "TradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "SubTradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerId",
						"type": "nvarchar"
					},
					{
						"name": "TradeNameId",
						"type": "nvarchar"
					},
					{
						"name": "CustomerTypeId",
						"type": "nvarchar"
					},
					{
						"name": "AccountGroupId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessTypeId",
						"type": "nvarchar"
					},
					{
						"name": "OperationalRegionId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseTypeId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseNumber",
						"type": "nvarchar"
					},
					{
						"name": "AcsNumber",
						"type": "nvarchar"
					},
					{
						"name": "AtoNumber",
						"type": "nvarchar"
					},
					{
						"name": "WholesalerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCustomerNumberId",
						"type": "nvarchar"
					},
					{
						"name": "HardStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "HardEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "ServicePolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SalesPolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionId",
						"type": "nvarchar"
					},
					{
						"name": "CreditBlock",
						"type": "bit"
					},
					{
						"name": "OrderBlockId",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryServiceCoordinatorId",
						"type": "nvarchar"
					},
					{
						"name": "PreferredOrderMethodId",
						"type": "nvarchar"
					},
					{
						"name": "PurchaseOrderRequiredId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOfficeId",
						"type": "nvarchar"
					},
					{
						"name": "TermsOfPaymentId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOrganisationId",
						"type": "nvarchar"
					},
					{
						"name": "DistributionChannelId",
						"type": "nvarchar"
					},
					{
						"name": "DivisionId",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PriceBookId",
						"type": "nvarchar"
					},
					{
						"name": "ConditionGroup1Id",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryDelayDays",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerEmail",
						"type": "nvarchar"
					},
					{
						"name": "RewardStatusId",
						"type": "nvarchar"
					},
					{
						"name": "RewardTierId",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "nvarchar"
					},
					{
						"name": "FaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "StoreNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "VatRegisteredNumber",
						"type": "nvarchar"
					},
					{
						"name": "EquipmentContractNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerProFormaPricingId",
						"type": "nvarchar"
					},
					{
						"name": "CreditCardSurcharge",
						"type": "nvarchar"
					},
					{
						"name": "StoreKeyNumber",
						"type": "nvarchar"
					},
					{
						"name": "HasPrintEAN",
						"type": "bit"
					},
					{
						"name": "IsWETExempt",
						"type": "bit"
					},
					{
						"name": "BlackCode",
						"type": "nvarchar"
					},
					{
						"name": "RedCode",
						"type": "nvarchar"
					},
					{
						"name": "L4Customer",
						"type": "nvarchar"
					},
					{
						"name": "L5Customer",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionFlag",
						"type": "nvarchar"
					},
					{
						"name": "SalesFlag",
						"type": "nvarchar"
					},
					{
						"name": "L4CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "L5CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "NationalOrOperation",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagCode",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterCode",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterDescription",
						"type": "nvarchar"
					},
					{
						"name": "BankAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "nvarchar"
					},
					{
						"name": "MaxOverdueGraceDay",
						"type": "nvarchar"
					},
					{
						"name": "SalesRoute",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "MarketingMessages",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlag",
						"type": "nvarchar"
					},
					{
						"name": "DSM",
						"type": "nvarchar"
					},
					{
						"name": "BU",
						"type": "nvarchar"
					},
					{
						"name": "Statloc",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "DistCenter",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Report_SAM_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_REPORT_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production/Report DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Number",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ArticleGroupingListId",
						"type": "nvarchar"
					},
					{
						"name": "BillToCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxClass",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "RegionCode",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "TelNumber",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Street",
						"type": "nvarchar"
					},
					{
						"name": "PrecinctId",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "nvarchar"
					},
					{
						"name": "MarketTypeId",
						"type": "nvarchar"
					},
					{
						"name": "TradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "SubTradeChannelId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerId",
						"type": "nvarchar"
					},
					{
						"name": "TradeNameId",
						"type": "nvarchar"
					},
					{
						"name": "CustomerTypeId",
						"type": "nvarchar"
					},
					{
						"name": "AccountGroupId",
						"type": "nvarchar"
					},
					{
						"name": "BusinessTypeId",
						"type": "nvarchar"
					},
					{
						"name": "OperationalRegionId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseTypeId",
						"type": "nvarchar"
					},
					{
						"name": "LicenseNumber",
						"type": "nvarchar"
					},
					{
						"name": "AcsNumber",
						"type": "nvarchar"
					},
					{
						"name": "AtoNumber",
						"type": "nvarchar"
					},
					{
						"name": "WholesalerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCustomerNumberId",
						"type": "nvarchar"
					},
					{
						"name": "HardStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "HardEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftStartTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "SoftEndTime",
						"type": "time",
						"scale": 7
					},
					{
						"name": "ServicePolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SalesPolicyId",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionId",
						"type": "nvarchar"
					},
					{
						"name": "CreditBlock",
						"type": "bit"
					},
					{
						"name": "OrderBlockId",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryServiceCoordinatorId",
						"type": "nvarchar"
					},
					{
						"name": "PreferredOrderMethodId",
						"type": "nvarchar"
					},
					{
						"name": "PurchaseOrderRequiredId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOfficeId",
						"type": "nvarchar"
					},
					{
						"name": "TermsOfPaymentId",
						"type": "nvarchar"
					},
					{
						"name": "SalesOrganisationId",
						"type": "nvarchar"
					},
					{
						"name": "DistributionChannelId",
						"type": "nvarchar"
					},
					{
						"name": "DivisionId",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PriceBookId",
						"type": "nvarchar"
					},
					{
						"name": "ConditionGroup1Id",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryDelayDays",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "PayerCustomerName",
						"type": "nvarchar"
					},
					{
						"name": "BusinessOwnerEmail",
						"type": "nvarchar"
					},
					{
						"name": "RewardStatusId",
						"type": "nvarchar"
					},
					{
						"name": "RewardTierId",
						"type": "nvarchar"
					},
					{
						"name": "MobileNumber",
						"type": "nvarchar"
					},
					{
						"name": "FaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "StoreNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxNumber",
						"type": "nvarchar"
					},
					{
						"name": "VatRegisteredNumber",
						"type": "nvarchar"
					},
					{
						"name": "EquipmentContractNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerProFormaPricingId",
						"type": "nvarchar"
					},
					{
						"name": "CreditCardSurcharge",
						"type": "nvarchar"
					},
					{
						"name": "StoreKeyNumber",
						"type": "nvarchar"
					},
					{
						"name": "HasPrintEAN",
						"type": "bit"
					},
					{
						"name": "IsWETExempt",
						"type": "bit"
					},
					{
						"name": "BlackCode",
						"type": "nvarchar"
					},
					{
						"name": "RedCode",
						"type": "nvarchar"
					},
					{
						"name": "L4Customer",
						"type": "nvarchar"
					},
					{
						"name": "L5Customer",
						"type": "nvarchar"
					},
					{
						"name": "SuppressionFlag",
						"type": "nvarchar"
					},
					{
						"name": "SalesFlag",
						"type": "nvarchar"
					},
					{
						"name": "L4CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "L5CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "NationalOrOperation",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagCode",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterCode",
						"type": "nvarchar"
					},
					{
						"name": "SubClusterDescription",
						"type": "nvarchar"
					},
					{
						"name": "BankAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "nvarchar"
					},
					{
						"name": "MaxOverdueGraceDay",
						"type": "nvarchar"
					},
					{
						"name": "SalesRoute",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "MarketingMessages",
						"type": "nvarchar"
					},
					{
						"name": "LocationFlag",
						"type": "nvarchar"
					},
					{
						"name": "DSM",
						"type": "nvarchar"
					},
					{
						"name": "BU",
						"type": "nvarchar"
					},
					{
						"name": "Statloc",
						"type": "nvarchar"
					},
					{
						"name": "ClusterFlagDescription",
						"type": "nvarchar"
					},
					{
						"name": "DistCenter",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SAM_Customers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UnprocessedCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"deliminator": {
						"type": "string"
					},
					"compressionType": {
						"type": "string"
					},
					"compressionLevel": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SendUserGps.zip",
						"folderPath": "zipped",
						"container": "integration"
					},
					"columnDelimiter": {
						"value": "@dataset().deliminator",
						"type": "Expression"
					},
					"compressionCodec": {
						"value": "@dataset().compressionType",
						"type": "Expression"
					},
					"compressionLevel": {
						"value": "@dataset().compressionLevel",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UnprocessedFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "unprocessed",
						"container": "integration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UnzippedFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "zipped",
						"container": "integration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AKV_IR2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://ir2-dev-key-vault.vault.azure.net/"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV_IR2",
							"type": "LinkedServiceReference"
						},
						"secretName": "blob-IR2"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKV_IR2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2KeyVault_LinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://IR2-DevTestKeyVault.vault.azure.net/"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_MASTERDATA_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "IR2KeyVault_LinkedService",
							"type": "LinkedServiceReference"
						},
						"secretName": "ccaidauesdevmasterdatadb001-secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2KeyVault_LinkedService')]"
			]
		}
	]
}