ccaidauesadf001/PartialArmTemplates/ArmTemplate_8_23_2019_17_13_17.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ccaidauesadf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SAM Call History Detail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS to Report",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Last Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup Last Sync To Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_CallHistoryDetail]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Lookup Last Sync Date').output.firstRow.LastSyncDate",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Lookup Last Sync To Date').output.firstRow.LastSyncDate",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_CallHistoryDetail_upsert]",
								"sqlWriterTableType": "typeSAM_CallHistoryDetail",
								"storedProcedureTableTypeParameterName": "SAM_CallHistoryDetail"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CallHistoryId",
											"type": "Int32"
										},
										"sink": {
											"name": "CallHistoryId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScreenID",
											"type": "String"
										},
										"sink": {
											"name": "ScreenID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Function",
											"type": "String"
										},
										"sink": {
											"name": "Function",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Double"
										},
										"sink": {
											"name": "Longitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Double"
										},
										"sink": {
											"name": "Latitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "GPSMatch",
											"type": "Boolean"
										},
										"sink": {
											"name": "GPSMatch",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Accuracy",
											"type": "Int32"
										},
										"sink": {
											"name": "Accuracy",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Battery",
											"type": "Double"
										},
										"sink": {
											"name": "Battery",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Signal",
											"type": "Int32"
										},
										"sink": {
											"name": "Signal",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CellularID",
											"type": "Int64"
										},
										"sink": {
											"name": "CellularID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "LocAreaCode",
											"type": "Int32"
										},
										"sink": {
											"name": "LocAreaCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MOCNTRYCode",
											"type": "Int32"
										},
										"sink": {
											"name": "MOCNTRYCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MOCNETCode",
											"type": "Int32"
										},
										"sink": {
											"name": "MOCNETCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SystemDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UTCTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "UTCTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "BasisProcessingStatus",
											"type": "Int32"
										},
										"sink": {
											"name": "BasisProcessingStatus",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Message",
											"type": "String"
										},
										"sink": {
											"name": "Message",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ReasonCode",
											"type": "String"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										},
										"sink": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS to Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS to Report').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS to Report",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS to Report').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Last Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetLastSyncImportFromSAM]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('Destination')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Lookup Last Sync To Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetLastSyncImportFromSAM]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('ParentTable')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference"
							}
						}
					}
				],
				"variables": {
					"Destination": {
						"type": "String",
						"defaultValue": "SAM_CallHistoryDetail"
					},
					"ParentTable": {
						"type": "String",
						"defaultValue": "SAM_CallHistory"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}