ccaidauesadf001/PartialArmTemplates/ArmTemplate_3_12_2020_9_28_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ccaidauesadf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Blob to SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Backup file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FileInBlob_roam_dev",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.sourceContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.sourceFolder",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.Filename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "FileInBlob_roam_dev",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.sourceContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@concat(pipeline().parameters.backupFolder,'/',formatDateTime(utcnow(),'yyyyMMdd'))",
										"type": "Expression"
									},
									"file": {
										"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_', pipeline().parameters.Filename)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete Source File",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Backup file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FileInBlob_roam_dev",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.sourceContainer",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.sourceFolder",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.Filename",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					}
				],
				"parameters": {
					"sourceContainer": {
						"type": "string",
						"defaultValue": "dms"
					},
					"sourceFolder": {
						"type": "string",
						"defaultValue": "Unprocessed"
					},
					"backupFolder": {
						"type": "string",
						"defaultValue": "History"
					},
					"Filename": {
						"type": "string"
					}
				},
				"variables": {
					"new": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OHS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Send User Gps",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": {
									"value": "@{concat('TRUNCATE TABLE ', variables('TargetSendGps'))}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ZipInSFTP",
								"type": "DatasetReference",
								"parameters": {
									"directory": {
										"value": "@variables('SFTP_Folder')",
										"type": "Expression"
									},
									"filename": {
										"value": "@variables('SFTP_Filename')",
										"type": "Expression"
									},
									"column_deliminator": {
										"value": "|",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "GenericSqlServer_CCAIDWPRDB004",
								"type": "DatasetReference",
								"parameters": {
									"secret": {
										"value": "@variables('secret_bi_db')",
										"type": "Expression"
									},
									"table": {
										"value": "@variables('TargetSendGps')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Ride",
						"description": "Copy from Survey Database to BI Database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": {
									"value": "@{concat('TRUNCATE TABLE ', variables('TargetRideMe'))}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "GenericAzureSQLDatabase",
								"type": "DatasetReference",
								"parameters": {
									"table": {
										"value": "@variables('SourceRideMe')",
										"type": "Expression"
									},
									"secret": {
										"value": "@variables('secret_survey_db')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "GenericSqlServer_CCAIDWPRDB004",
								"type": "DatasetReference",
								"parameters": {
									"secret": {
										"value": "@variables('secret_bi_db')",
										"type": "Expression"
									},
									"table": {
										"value": "@variables('TargetRideMe')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"variables": {
					"secret_bi_db": {
						"type": "String",
						"defaultValue": "onprem-sql-prd-bi"
					},
					"secret_survey_db": {
						"type": "String",
						"defaultValue": "azure-sql-prd-survey"
					},
					"TargetSendGps": {
						"type": "String",
						"defaultValue": "HR_TMP_OHSSpeed_Send_User_GPS"
					},
					"TargetRideMe": {
						"type": "String",
						"defaultValue": "HR_TMP_OHS_SalesRpt_Survey"
					},
					"SFTP_Folder": {
						"type": "String",
						"defaultValue": "/ToBasis"
					},
					"SFTP_Filename": {
						"type": "String",
						"defaultValue": "SendUserGps.zip"
					},
					"SourceRideMe": {
						"type": "String",
						"defaultValue": "vwADF_RideMeSurvey"
					},
					"backupContainer": {
						"type": "String",
						"defaultValue": "dms"
					},
					"backupFolder": {
						"type": "String",
						"defaultValue": "Unprocessed"
					}
				},
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileInBlob_roam_prd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobROAM_prd",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Blob Storage"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/File_in_idcbtap22')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "eTaxFileSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "eTax Share Folder"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PdfFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "eTaxFileSource",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "eTax Share Folder"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "D:\\Dev\\Pdf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DMS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Blob to SQL",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceContainer": "dms",
							"sourceFolder": "Unprocessed",
							"backupFolder": "History",
							"Filename": "@triggerBody().fileName"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/dms/blobs/Unprocessed",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/3a0d9281-1840-4a66-bbc8-86c1720ee7bc/resourceGroups/ccaidauesdevrsg001/providers/Microsoft.Storage/storageAccounts/ccaidauesdevrsg001str001",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Blob to SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Run Trigger Master Data - 6 am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Integration Copy Data",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerGroup": "M-D-6"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-03-10T23:00:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}