ccaidauesadf001/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ccaidauesadf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/File_in_idcbtap22')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "eTaxFileSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GenericAzureSQLDatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GenericAzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"Secret": {
							"value": "@dataset().secret",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"table": {
						"type": "string"
					},
					"secret": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GenericSqlServer_CCAIDWPRDB004')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GenericSqlServer_CCAIDWPRDB004",
					"type": "LinkedServiceReference",
					"parameters": {
						"secret": {
							"value": "@dataset().secret",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"secret": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PdfFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "eTaxFileSource",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Binary"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "D:\\Dev\\Pdf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_MasterData_IaaS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IaaS_MASTERDATA_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Production_Sales_IaaS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IaaS_SALES_PRODUCTION",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Production"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFTP_DMS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SFTP_DMS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SFTP"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFTP_HR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SFTP_HR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SFTP"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZipFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					},
					"deliminator": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().deliminator",
						"type": "Expression"
					},
					"compressionCodec": "ZipDeflate",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZipInSFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "CSV in ZIP in SFTP",
				"linkedServiceName": {
					"referenceName": "SFTP_DMS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					},
					"column_deliminator": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SFTP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().column_deliminator",
						"type": "Expression"
					},
					"compressionCodec": "ZipDeflate",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\"",
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CORE_DeleteNotification')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CORE_DeleteNotification",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-11-01T19:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdateInvalidStatus_DataSubmitStaging')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "UpdateInvalidStatus_DataSubmitStaging",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2019-08-23T07:56:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy CSV to SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy CSV (Zipped) to SQL from blob storage",
				"activities": [
					{
						"name": "If file zipped",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.isZipped",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy csv to sql",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{if(pipeline().parameters.isTruncate,concat('IF OBJECT_ID (N''',pipeline().parameters.staggingTable,''', N''U'') IS NOT NULL TRUNCATE TABLE ',pipeline().parameters.staggingTable),'')}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "CsvFile",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"directory": {
													"value": "@pipeline().parameters.directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@pipeline().parameters.file",
													"type": "Expression"
												},
												"deliminator": {
													"value": "@pipeline().parameters.deliminator",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.staggingTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.secret",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy zip to sql",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{if(pipeline().parameters.isTruncate,concat('IF OBJECT_ID (N''',pipeline().parameters.staggingTable,''', N''U'') IS NOT NULL TRUNCATE TABLE ',pipeline().parameters.staggingTable),'')}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ZipFile",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"directory": {
													"value": "@pipeline().parameters.directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@pipeline().parameters.file",
													"type": "Expression"
												},
												"deliminator": {
													"value": "@pipeline().parameters.deliminator",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "GenericAzureSQLDatabase",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@pipeline().parameters.staggingTable",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.secret",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"file": {
						"type": "string"
					},
					"deliminator": {
						"type": "string"
					},
					"staggingTable": {
						"type": "string"
					},
					"secret": {
						"type": "string"
					},
					"isTruncate": {
						"type": "bool"
					},
					"isZipped": {
						"type": "bool"
					}
				},
				"folder": {
					"name": "Master Template"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GenericAzureSQLDatabase')]",
				"[concat(variables('factoryId'), '/datasets/ZipFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy SQL to SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch is source Type and target table exists",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Target Database Type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@concat(pipeline().parameters.sourceDbType,'-',pipeline().parameters.sourceDbType,'-',variables('isExists'))",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "PaaS-PaaS-True",
									"activities": [
										{
											"name": "Copy PaaS to PaaS w Truncate",
											"description": "Truncate before copy",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "AzureSqlSource",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "AzureSqlSink",
													"preCopyScript": {
														"value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.targetTable)}",
														"type": "Expression"
													},
													"tableOption": "autoCreate",
													"disableMetricsCollection": false
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "GenericAzureSQLDatabase",
													"type": "DatasetReference",
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.sourceTable",
															"type": "Expression"
														},
														"secret": {
															"value": "@pipeline().parameters.sourceSecret",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "GenericAzureSQLDatabase",
													"type": "DatasetReference",
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														},
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "PaaS-PaaS-False",
									"activities": [
										{
											"name": "Copy PaaS to PaaS wo Truncate",
											"description": "Copy without truncate first",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "AzureSqlSource",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "AzureSqlSink",
													"tableOption": "autoCreate",
													"disableMetricsCollection": false
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "GenericAzureSQLDatabase",
													"type": "DatasetReference",
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.sourceTable",
															"type": "Expression"
														},
														"secret": {
															"value": "@pipeline().parameters.sourceSecret",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "GenericAzureSQLDatabase",
													"type": "DatasetReference",
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														},
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "IaaS-PaaS-True",
									"activities": [
										{
											"name": "Copy IaaS to PaaS w Truncate",
											"description": "Truncate before copy",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "SqlServerSource",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "AzureSqlSink",
													"preCopyScript": {
														"value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.targetTable)}",
														"type": "Expression"
													},
													"tableOption": "autoCreate",
													"disableMetricsCollection": false
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "GenericSqlServer_CCAIDWPRDB004",
													"type": "DatasetReference",
													"parameters": {
														"secret": {
															"value": "@pipeline().parameters.sourceSecret",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.sourceTable",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "GenericAzureSQLDatabase",
													"type": "DatasetReference",
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														},
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "IaaS-PaaS-False",
									"activities": [
										{
											"name": "Copy IaaS to PaaS wo Truncate",
											"description": "Truncate before copy",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "SqlServerSource",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "AzureSqlSink",
													"tableOption": "autoCreate",
													"disableMetricsCollection": false
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "GenericSqlServer_CCAIDWPRDB004",
													"type": "DatasetReference",
													"parameters": {
														"secret": {
															"value": "@pipeline().parameters.sourceSecret",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.sourceTable",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "GenericAzureSQLDatabase",
													"type": "DatasetReference",
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														},
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "IaaS-IaaS-True",
									"activities": [
										{
											"name": "Copy IaaS to IaaS w Truncate",
											"description": "Truncate before copy",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "SqlServerSource",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "SqlServerSink",
													"preCopyScript": {
														"value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.targetTable)}",
														"type": "Expression"
													},
													"tableOption": "autoCreate"
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "GenericSqlServer_CCAIDWPRDB004",
													"type": "DatasetReference",
													"parameters": {
														"secret": {
															"value": "@pipeline().parameters.sourceSecret",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.sourceTable",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "GenericSqlServer_CCAIDWPRDB004",
													"type": "DatasetReference",
													"parameters": {
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "IaaS-IaaS-False",
									"activities": [
										{
											"name": "Copy IaaS to IaaS wo Truncate",
											"description": "Truncate before copy",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "SqlServerSource",
													"queryTimeout": "02:00:00"
												},
												"sink": {
													"type": "SqlServerSink",
													"tableOption": "autoCreate"
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "GenericSqlServer_CCAIDWPRDB004",
													"type": "DatasetReference",
													"parameters": {
														"secret": {
															"value": "@pipeline().parameters.sourceSecret",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.sourceTable",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "GenericSqlServer_CCAIDWPRDB004",
													"type": "DatasetReference",
													"parameters": {
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								}
							]
						}
					},
					{
						"name": "Target Database Type",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.targetDbType",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "PaaS",
									"activities": [
										{
											"name": "Check IsExists Target Table PaaS",
											"type": "GetMetadata",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"dataset": {
													"referenceName": "GenericAzureSQLDatabase",
													"type": "DatasetReference",
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														},
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														}
													}
												},
												"fieldList": [
													"exists"
												]
											}
										},
										{
											"name": "Set isExists PaaS",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "Check IsExists Target Table PaaS",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "isExists",
												"value": {
													"value": "@string(activity('Check IsExists Target Table PaaS').output.exists)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"value": "IaaS",
									"activities": [
										{
											"name": "Check IsExists Target Table IaaS",
											"type": "GetMetadata",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"dataset": {
													"referenceName": "GenericSqlServer_CCAIDWPRDB004",
													"type": "DatasetReference",
													"parameters": {
														"secret": {
															"value": "@pipeline().parameters.targetSecret",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.targetTable",
															"type": "Expression"
														}
													}
												},
												"fieldList": [
													"exists"
												]
											}
										},
										{
											"name": "Set isExists IaaS",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "Check IsExists Target Table IaaS",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "isExists",
												"value": {
													"value": "@string(activity('Check IsExists Target Table IaaS').output.exists)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"sourceSecret": {
						"type": "string"
					},
					"sourceTable": {
						"type": "string"
					},
					"sourceDbType": {
						"type": "string",
						"defaultValue": "PaaS"
					},
					"targetSecret": {
						"type": "string"
					},
					"targetTable": {
						"type": "string"
					},
					"targetDbType": {
						"type": "string",
						"defaultValue": "PaaS"
					}
				},
				"variables": {
					"isExists": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Master Template"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GenericAzureSQLDatabase')]",
				"[concat(variables('factoryId'), '/datasets/GenericSqlServer_CCAIDWPRDB004')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy or Move File idcbtap22')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data to target",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "File_in_idcbtap22",
								"type": "DatasetReference",
								"parameters": {
									"directory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.sourceFilename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "File_in_idcbtap22",
								"type": "DatasetReference",
								"parameters": {
									"directory": {
										"value": "@pipeline().parameters.targetDirectory",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.targetFilename",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "If isMove then delete source file",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Copy data to target",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.isMove",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Delete source file",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "File_in_idcbtap22",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@pipeline().parameters.sourceDirectory",
													"type": "Expression"
												},
												"filename": {
													"value": "@pipeline().parameters.sourceFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "FileServerReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"sourceDirectory": {
						"type": "string"
					},
					"sourceFilename": {
						"type": "string"
					},
					"targetDirectory": {
						"type": "string"
					},
					"targetFilename": {
						"type": "string"
					},
					"isMove": {
						"type": "bool",
						"defaultValue": true
					}
				},
				"folder": {
					"name": "Master Template"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/File_in_idcbtap22')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy or Move in Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy CSV (Zipped) to SQL from blob storage",
				"activities": [
					{
						"name": "Copy Blob to Success folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FileInBlob",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.sourceFile",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "FileInBlob",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.targetDirectory",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.targetFile",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "If isMove then delete source file",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Copy Blob to Success folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.isMove",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Delete source file",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "FileInBlob",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												},
												"directory": {
													"value": "@pipeline().parameters.sourceDirectory",
													"type": "Expression"
												},
												"file": {
													"value": "@pipeline().parameters.sourceFile",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"container": {
						"type": "string"
					},
					"sourceDirectory": {
						"type": "string"
					},
					"sourceFile": {
						"type": "string"
					},
					"targetDirectory": {
						"type": "string"
					},
					"targetFile": {
						"type": "string"
					},
					"isMove": {
						"type": "bool",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "Master Template"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Integration Run SP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get Table to copy",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "spIntegration_SPConfigurations",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"TriggerGroup": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.triggerGroup",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "GenericAzureSQLDatabase",
								"type": "DatasetReference",
								"parameters": {
									"table": {
										"value": "IntegrationSPConfigurations",
										"type": "Expression"
									},
									"secret": {
										"value": "@variables('secretConfiguration')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get Table to copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get Table to copy').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute Copy SQL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Call Store Procedure",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"secret": {
												"value": "@item().SecretDatabase",
												"type": "Expression"
											},
											"storeprocedure": {
												"value": "@item().StoreProcedureProcess",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Execute Send Email success",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Execute Copy SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Sending Email",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"from": {
												"value": "@variables('emailFrom')",
												"type": "Expression"
											},
											"to": {
												"value": "@variables('emailTo')",
												"type": "Expression"
											},
											"message_id": {
												"value": "@guid()",
												"type": "Expression"
											},
											"subject": {
												"value": "@concat('Integration [', pipeline().RunId,'] - ', item().StoreProcedureProcess, ' is success')",
												"type": "Expression"
											},
											"content": {
												"value": "@concat('Hi, This Integration ', item().StoreProcedureProcess, ' is success')",
												"type": "Expression"
											},
											"Queue_id": {
												"value": "@variables('emailQueue')",
												"type": "Expression"
											},
											"cc": {
												"value": "@variables('emailCc')",
												"type": "Expression"
											},
											"bcc": {
												"value": "@variables('emailBcc')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Execute Send Email fail to copy",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Execute Copy SQL",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Sending Email",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"from": {
												"value": "@variables('emailFrom')",
												"type": "Expression"
											},
											"to": {
												"value": "@variables('emailTo')",
												"type": "Expression"
											},
											"message_id": {
												"value": "@guid()",
												"type": "Expression"
											},
											"subject": {
												"value": "@concat('Integration Run SP [', pipeline().RunId,'] - ', item().StoreProcedureProcess, ' is error when run store procedure')",
												"type": "Expression"
											},
											"content": {
												"value": "@concat('Hi, This Integration run SP ', item().StoreProcedureProcess, ' is failed')",
												"type": "Expression"
											},
											"Queue_id": {
												"value": "@variables('emailQueue')",
												"type": "Expression"
											},
											"cc": {
												"value": "@variables('emailCc')",
												"type": "Expression"
											},
											"bcc": {
												"value": "@variables('emailBcc')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"triggerGroup": {
						"type": "string"
					}
				},
				"variables": {
					"secretConfiguration": {
						"type": "String",
						"defaultValue": "azure-sql-prd-report"
					},
					"emailFrom": {
						"type": "String",
						"defaultValue": "idn.adf.ReportIntegration@ccamatil.com"
					},
					"emailTo": {
						"type": "String",
						"defaultValue": "andreas.herrinto@ccamatil.com"
					},
					"emailCc": {
						"type": "String",
						"defaultValue": "siska.limanto@ccamatil.com"
					},
					"emailBcc": {
						"type": "String"
					},
					"emailQueue": {
						"type": "String",
						"defaultValue": "664CDAFA44B642DDB511046AFC2C732A"
					}
				},
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GenericAzureSQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Interface Customer Additionals Dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy From Core to Master Data",
						"description": "Copy CustomerAdditionals",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Select\n\tS.CustomerNumber, S.DistributionCenterFlag, S.WholeSalerPlatinum, S.MITPaket, S.PromoPaket, S.NPDPaket, S.DMSReserve1\nFrom\n[CustomerAdditionals] S"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sp_CustomerAdditional_upsert]",
								"sqlWriterTableType": "typeCustomerAdditional",
								"storedProcedureTableTypeParameterName": "source"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DistributionCenterFlag",
											"type": "String"
										},
										"sink": {
											"name": "DistributionCenterFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WholeSalerPlatinum",
											"type": "String"
										},
										"sink": {
											"name": "WholeSalerPlatinum",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MITPaket",
											"type": "String"
										},
										"sink": {
											"name": "MITPaket",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PromoPaket",
											"type": "String"
										},
										"sink": {
											"name": "PromoPaket",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NPDPaket",
											"type": "String"
										},
										"sink": {
											"name": "NPDPaket",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DMSReserve1",
											"type": "String"
										},
										"sink": {
											"name": "DMSReserve1",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Dev_Core",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dev_MasterData_CustomerAdditionals",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MD_BUSalesStructure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "if to Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If from Date blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_SM_REF_BU_SR_STRUCTURE]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataFrom')",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@variables('SyncDataTo')",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spMD_SM_REF_BU_SR_STRUCTURE_Upsert]",
								"sqlWriterTableType": "typeMD_SM_REF_BU_SR_STRUCTURE",
								"storedProcedureTableTypeParameterName": "MD_SM_REF_BU_SR_STRUCTURE"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PERIOD",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SR_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SR_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SR_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SR_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "DSM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "DSM_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SM_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SM_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SM_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "GM_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GM_DESC",
											"type": "String"
										},
										"sink": {
											"name": "GM_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "GM_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SLSGRP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SLSGRP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SLSGRP_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SLSGRP_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SLSGRP_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SLSGRP_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BU_CODE",
											"type": "String"
										},
										"sink": {
											"name": "BU_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BU_DESC",
											"type": "String"
										},
										"sink": {
											"name": "BU_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BU_NAME",
											"type": "String"
										},
										"sink": {
											"name": "BU_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUSINESS_UNIT_GROUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT_GROUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUSINESS_UNIT_GROUP_DESC",
											"type": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT_GROUP_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TOTAL_CCAI",
											"type": "String"
										},
										"sink": {
											"name": "TOTAL_CCAI",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLAG_KAM",
											"type": "String"
										},
										"sink": {
											"name": "FLAG_KAM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLAG_ACTIVE",
											"type": "String"
										},
										"sink": {
											"name": "FLAG_ACTIVE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLAG_MDS",
											"type": "String"
										},
										"sink": {
											"name": "FLAG_MDS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdatedECoaching",
											"type": "String"
										},
										"sink": {
											"name": "LastUpdatedECoaching",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdatedDateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdatedDateTime",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_MasterData_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": {
										"value": "@activity('Copy from IaaS').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spImportFromSAM_UpsertLastSyncDate]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"LastSyncDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"SyncDataFrom": {
									"value": {
										"value": "@variables('SyncDataFrom')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"SyncDataTo": {
									"value": {
										"value": "@variables('SyncDataTo')",
										"type": "Expression"
									},
									"type": "DateTimeOffset"
								},
								"TableName": {
									"value": {
										"value": "@variables('TableName')",
										"type": "Expression"
									},
									"type": "String"
								},
								"TotalRecords": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spImportFromSAM_GetLastSyncDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If from Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataFrom, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataFrom from parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@pipeline().parameters.SyncDataFrom",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncFromData from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataFrom",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "if to Date blank",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.SyncDataTo, '-')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SyncDataTo from Parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@pipeline().parameters.SyncDataTo",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SyncDataTo from Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SyncDataTo",
										"value": {
											"value": "@activity('Lookup Sync Date').output.firstrow.NowTime",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SyncDataFrom": {
						"type": "string",
						"defaultValue": "-"
					},
					"SyncDataTo": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"TableName": {
						"type": "String",
						"defaultValue": "MD_SM_REF_BU_SR_STRUCTURE"
					},
					"SyncDataFrom": {
						"type": "String"
					},
					"SyncDataTo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from MD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Production_MasterData_IaaS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OHS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Send User Gps",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": {
									"value": "@{concat('TRUNCATE TABLE ', variables('TargetSendGps'))}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ZipInSFTP",
								"type": "DatasetReference",
								"parameters": {
									"directory": {
										"value": "@variables('SFTP_Folder')",
										"type": "Expression"
									},
									"filename": {
										"value": "@variables('SFTP_Filename')",
										"type": "Expression"
									},
									"column_deliminator": {
										"value": "|",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "GenericSqlServer_CCAIDWPRDB004",
								"type": "DatasetReference",
								"parameters": {
									"secret": {
										"value": "@variables('secret_bi_db')",
										"type": "Expression"
									},
									"table": {
										"value": "@variables('TargetSendGps')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Ride",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@variables('SourceRideMe')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"SurveyDate": {
										"type": "Datetime",
										"value": {
											"value": "@adddays(utcnow('yyyy-MM-dd'),0)",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": {
									"value": "@{concat('TRUNCATE TABLE ', variables('TargetRideMe'))}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "GenericSqlServer_CCAIDWPRDB004",
								"type": "DatasetReference",
								"parameters": {
									"secret": {
										"value": "@variables('secret_sls_iaas_db')",
										"type": "Expression"
									},
									"table": {
										"value": "@variables('SourceRideMe')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "GenericSqlServer_CCAIDWPRDB004",
								"type": "DatasetReference",
								"parameters": {
									"secret": {
										"value": "@variables('secret_bi_db')",
										"type": "Expression"
									},
									"table": {
										"value": "@variables('TargetRideMe')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"variables": {
					"secret_bi_db": {
						"type": "String",
						"defaultValue": "idwpid23-sql-dev-bi"
					},
					"secret_survey_db": {
						"type": "String"
					},
					"secret_sls_iaas_db": {
						"type": "String",
						"defaultValue": "004-sql-prd-sales"
					},
					"TargetSendGps": {
						"type": "String",
						"defaultValue": "HR_TMP_OHSSpeed_Send_User_GPS"
					},
					"TargetRideMe": {
						"type": "String",
						"defaultValue": "HR_TMP_OHS_SalesRpt_Survey"
					},
					"SFTP_Folder": {
						"type": "String",
						"defaultValue": "/FromBasis"
					},
					"SFTP_Filename": {
						"type": "String",
						"defaultValue": "SendUserGps.zip"
					},
					"SourceRideMe": {
						"type": "String",
						"defaultValue": "spBI_RideMe"
					}
				},
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ZipInSFTP')]",
				"[concat(variables('factoryId'), '/datasets/GenericSqlServer_CCAIDWPRDB004')]"
			]
		}
	]
}