ccaidauesadf001/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ccaidauesadf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SAM Call History Detail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from IaaS to Report",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Last Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup Last Sync To Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_CallHistoryDetail]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Lookup Last Sync Date').output.firstRow.LastSyncDate",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Lookup Last Sync To Date').output.firstRow.LastSyncDate",
											"type": "Expression"
										}
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_CallHistoryDetail_upsert]",
								"sqlWriterTableType": "typeSAM_CallHistoryDetail",
								"storedProcedureTableTypeParameterName": "SAM_CallHistoryDetail"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CallHistoryId",
											"type": "Int32"
										},
										"sink": {
											"name": "CallHistoryId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScreenID",
											"type": "String"
										},
										"sink": {
											"name": "ScreenID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Function",
											"type": "String"
										},
										"sink": {
											"name": "Function",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Double"
										},
										"sink": {
											"name": "Longitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Double"
										},
										"sink": {
											"name": "Latitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "GPSMatch",
											"type": "Boolean"
										},
										"sink": {
											"name": "GPSMatch",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Accuracy",
											"type": "Int32"
										},
										"sink": {
											"name": "Accuracy",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Battery",
											"type": "Double"
										},
										"sink": {
											"name": "Battery",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Signal",
											"type": "Int32"
										},
										"sink": {
											"name": "Signal",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CellularID",
											"type": "Int64"
										},
										"sink": {
											"name": "CellularID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "LocAreaCode",
											"type": "Int32"
										},
										"sink": {
											"name": "LocAreaCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MOCNTRYCode",
											"type": "Int32"
										},
										"sink": {
											"name": "MOCNTRYCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MOCNETCode",
											"type": "Int32"
										},
										"sink": {
											"name": "MOCNETCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SystemDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UTCTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "UTCTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "BasisProcessingStatus",
											"type": "Int32"
										},
										"sink": {
											"name": "BasisProcessingStatus",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Message",
											"type": "String"
										},
										"sink": {
											"name": "Message",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ReasonCode",
											"type": "String"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										},
										"sink": {
											"name": "CallHistoryGuid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS to Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('Copy from IaaS to Report').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from IaaS to Report",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy from IaaS to Report').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Last Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetLastSyncImportFromSAM]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('Destination')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Lookup Last Sync To Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetLastSyncImportFromSAM]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('ParentTable')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"variables": {
					"Destination": {
						"type": "String",
						"defaultValue": "SAM_CallHistoryDetail"
					},
					"ParentTable": {
						"type": "String",
						"defaultValue": "SAM_CallHistory"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAM Call History')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call History IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Last Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_CallHistory]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Lookup Last Sync Date').output.firstRow.LastSyncDate",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": null
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_CallHistory_upsert]",
								"sqlWriterTableType": "typeSAM_CallHistory",
								"storedProcedureTableTypeParameterName": "SAM_CallHistory"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CallHistoryId",
											"type": "Int32"
										},
										"sink": {
											"name": "CallHistoryId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScreenID",
											"type": "String"
										},
										"sink": {
											"name": "ScreenID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UserId",
											"type": "Guid"
										},
										"sink": {
											"name": "UserId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "PinId",
											"type": "String"
										},
										"sink": {
											"name": "PinId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteId",
											"type": "String"
										},
										"sink": {
											"name": "RouteId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LocationCode",
											"type": "String"
										},
										"sink": {
											"name": "LocationCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StartTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "StartTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EndTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "EndTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Double"
										},
										"sink": {
											"name": "Longitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Double"
										},
										"sink": {
											"name": "Latitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Accuracy",
											"type": "Int32"
										},
										"sink": {
											"name": "Accuracy",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScheduleTypeId",
											"type": "String"
										},
										"sink": {
											"name": "ScheduleTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SystemStatus",
											"type": "Int32"
										},
										"sink": {
											"name": "SystemStatus",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CallStatus",
											"type": "String"
										},
										"sink": {
											"name": "CallStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CancelledReason",
											"type": "String"
										},
										"sink": {
											"name": "CancelledReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FollowSequence",
											"type": "Boolean"
										},
										"sink": {
											"name": "FollowSequence",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "RequestResequence",
											"type": "Boolean"
										},
										"sink": {
											"name": "RequestResequence",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ProposeOutletBefore",
											"type": "Int32"
										},
										"sink": {
											"name": "ProposeOutletBefore",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ProposeOutletAfter",
											"type": "Int32"
										},
										"sink": {
											"name": "ProposeOutletAfter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Remarks",
											"type": "String"
										},
										"sink": {
											"name": "Remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UploadedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "UploadedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SystemDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OffSequenceReason",
											"type": "String"
										},
										"sink": {
											"name": "OffSequenceReason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Guid",
											"type": "Guid"
										},
										"sink": {
											"name": "Guid",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Call History IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('Call History IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Call History IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('Call History IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Last Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetLastSyncImportFromSAM]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('Destination')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"variables": {
					"Destination": {
						"type": "String",
						"defaultValue": "SAM_CallHistory"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAM Users')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "User Sales IaaS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Last Sync Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spExport_Users]",
								"storedProcedureParameters": {
									"SyncFromDate": {
										"type": "DateTime",
										"value": {
											"value": "@activity('Lookup Last Sync Date').output.firstRow.LastSyncDate",
											"type": "Expression"
										}
									},
									"SyncToDate": {
										"type": "DateTime",
										"value": null
									}
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spSAM_Users_upsert]",
								"sqlWriterTableType": "typeSAM_Users",
								"storedProcedureTableTypeParameterName": "SAM_Users"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserId",
											"type": "Guid"
										},
										"sink": {
											"name": "UserId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "UserName",
											"type": "String"
										},
										"sink": {
											"name": "UserName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PrimaryPhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "PrimaryPhoneNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SecondaryPhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "SecondaryPhoneNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PaymentAccess",
											"type": "Boolean"
										},
										"sink": {
											"name": "PaymentAccess",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "EmailOptIn",
											"type": "Boolean"
										},
										"sink": {
											"name": "EmailOptIn",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CurrentCustomerSite",
											"type": "Int32"
										},
										"sink": {
											"name": "CurrentCustomerSite",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CurrentCustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CurrentCustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BDECustomerSite",
											"type": "Int32"
										},
										"sink": {
											"name": "BDECustomerSite",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BDECustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "BDECustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteSite",
											"type": "Int32"
										},
										"sink": {
											"name": "RouteSite",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SapUserName",
											"type": "String"
										},
										"sink": {
											"name": "SapUserName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ExternalUserId",
											"type": "String"
										},
										"sink": {
											"name": "ExternalUserId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PinID",
											"type": "String"
										},
										"sink": {
											"name": "PinID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RoleId",
											"type": "Int32"
										},
										"sink": {
											"name": "RoleId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Application",
											"type": "String"
										},
										"sink": {
											"name": "Application",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "Boolean"
										},
										"sink": {
											"name": "Status",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "LocationCode",
											"type": "String"
										},
										"sink": {
											"name": "LocationCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PersonnelNumber",
											"type": "String"
										},
										"sink": {
											"name": "PersonnelNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubLoc",
											"type": "String"
										},
										"sink": {
											"name": "SubLoc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PositionCode",
											"type": "Int32"
										},
										"sink": {
											"name": "PositionCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "IsDelete",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDelete",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Sales_IaaS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Production_Report_SAM_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Last Sync Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "User Sales IaaS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "@activity('User Sales IaaS').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Error Message",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "User Sales IaaS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpsertLastSyncImportFromSAM]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": {
										"value": "@activity('User Sales IaaS').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "Error",
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@variables('Destination')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IR2_REPORT_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Last Sync Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetLastSyncImportFromSAM]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": {
											"value": "@variables('Destination')",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "Production_Report_SAM_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"variables": {
					"Destination": {
						"type": "String",
						"defaultValue": "SAM_Users"
					}
				},
				"folder": {
					"name": "Production/Export To Reporting/from SAM"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-QAQuestion-from-QA-to-DEV')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy QAQuestion from QA to DEV",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy QAQuestions",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-07-10T07:57:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								3
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete Old Data in CCASitecore_Custom')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DeleteOldLogSyncs_CCASitecore_Custom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Delete CallHistory By PinId",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-07-31T08:57:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0,
								15,
								30,
								45
							],
							"hours": [
								18,
								19,
								20,
								21
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendToBI')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SendToBI",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2019-07-22T11:25:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdateInvalidStatus_DataSubmitStaging')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "UpdateInvalidStatus_DataSubmitStaging",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2019-08-23T07:56:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export SAM to Report')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SAM Users",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Users",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SAM Call History",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SAM Users",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Call History",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SAM Call History Detail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SAM Call History",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAM Call History Detail",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Production/Export To Reporting"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAM Users')]",
				"[concat(variables('factoryId'), '/pipelines/SAM Call History')]",
				"[concat(variables('factoryId'), '/pipelines/SAM Call History Detail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-ATB-from-IaaS-to-PaaS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy ATB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2019-07-16T11:02:00Z",
						"timeZone": "UTC",
						"schedule": {
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-to-Report-DB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy to Report Database",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Export SAM to Report",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-08-21T09:10:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								18
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Export SAM to Report')]"
			]
		}
	]
}