ccaidauesadf001/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ccaidauesadf001"
		},
		"IDCBTIN22_Root_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'IDCBTIN22_Root'"
		},
		"IDCBTIN22_Root_PRODUCTION_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'IDCBTIN22_Root_PRODUCTION'"
		},
		"IaaS_MASTERDATA_PRODUCTION_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IaaS_MASTERDATA_PRODUCTION'"
		},
		"IaaS_SALES_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IaaS_SALES'"
		},
		"IaaS_SALES_PRODUCTION_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IaaS_SALES_PRODUCTION'"
		},
		"IDCBTIN22_Root_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\IDCBTIN22\\root"
		},
		"IDCBTIN22_Root_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "ausdom\\svc_sasql_id"
		},
		"IDCBTIN22_Root_PRODUCTION_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\IDCBTIN22\\Root"
		},
		"IDCBTIN22_Root_PRODUCTION_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "ausdom\\svc_sasql_id"
		},
		"IR2_MASTERDATA_DEV_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "ccaidauesdevmasterdatadb001-secret"
		},
		"SFTP_DMS_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "10.206.15.131"
		},
		"SFTP_DMS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ccai"
		},
		"SFTP_HR_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "167.103.49.25"
		},
		"SFTP_HR_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "devkronos"
		},
		"eTaxFileSource_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "D:\\"
		},
		"eTaxFileSource_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "efakturid"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IDCBTIN22_Root')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "FTP Folder IDCBTIN22",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('IDCBTIN22_Root_properties_typeProperties_host')]",
					"userId": "[parameters('IDCBTIN22_Root_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('IDCBTIN22_Root_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime-IaaS-ccaidwdevdb001",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IDCBTIN22_Root_PRODUCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "IDCBTIN22_Root_PRODUCTION",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('IDCBTIN22_Root_PRODUCTION_properties_typeProperties_host')]",
					"userId": "[parameters('IDCBTIN22_Root_PRODUCTION_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('IDCBTIN22_Root_PRODUCTION_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime-CCAIDWPRDDB004",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR2_MASTERDATA_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "IR2KeyVault_LinkedService",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('IR2_MASTERDATA_DEV_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IaaS_MASTERDATA_PRODUCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IaaS_MASTERDATA_PRODUCTION_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-CCAIDWPRDDB004",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IaaS_SALES')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IaaS_SALES_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-IaaS-ccaidwdevdb001",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IaaS_SALES_PRODUCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IaaS_SALES_PRODUCTION_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-CCAIDWPRDDB004",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFTP_DMS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('SFTP_DMS_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('SFTP_DMS_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV_IR2",
							"type": "LinkedServiceReference"
						},
						"secretName": "SFTP-DMS"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime-CCAIDWPRDDB004",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFTP_HR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('SFTP_HR_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('SFTP_HR_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV_IR2",
							"type": "LinkedServiceReference"
						},
						"secretName": "SFTP-HR-DEV"
					}
				},
				"connectVia": {
					"referenceName": "IDCBTAP22",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eTaxFileSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('eTaxFileSource_properties_typeProperties_host')]",
					"userId": "[parameters('eTaxFileSource_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV_IR2",
							"type": "LinkedServiceReference"
						},
						"secretName": "eTax-Password",
						"secretVersion": ""
					}
				},
				"connectVia": {
					"referenceName": "IDCBTAP22",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Call Store Procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call Store Procedure",
						"description": "Integrate from Customer to SalesOffice",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.storeprocedure",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "GenericAzureSqlDatabase",
							"type": "LinkedServiceReference",
							"parameters": {
								"Secret": {
									"value": "@pipeline().parameters.secret",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"secret": {
						"type": "string",
						"defaultValue": "azure-sql-dev-masterdata"
					},
					"storeprocedure": {
						"type": "string",
						"defaultValue": "usp_IntegrationSalesOffice"
					}
				},
				"folder": {
					"name": "Master Template"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete CallHistory By PinId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_DeleteOldCallHistoryByPinId]",
							"storedProcedureParameters": {
								"PinId": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IaaS_SALES_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DeleteOldLogSyncs_CCASitecore_Custom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_DeleteOldLogSyncs]"
						},
						"linkedServiceName": {
							"referenceName": "IaaS_SALES_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sending Email')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Email",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Set json Message",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "PostMessage",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@json(variables('jsonBody'))",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "CoreFunction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set json Message",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "jsonBody",
							"value": {
								"value": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(variables('templateBody'),'~from~',pipeline().parameters.from),'~to~',pipeline().parameters.to),'~SUBJECT~',pipeline().parameters.subject),'~CONTENT~',pipeline().parameters.content),'~MESSAGEGUID~',pipeline().parameters.message_id),'~QUEUEGUID~',pipeline().parameters.Queue_id),'~cc~', pipeline().parameters.cc), '~bcc~', pipeline().parameters.bcc), '~ATTACHMENTS~', pipeline().parameters.attachments)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"from": {
						"type": "string"
					},
					"to": {
						"type": "string"
					},
					"message_id": {
						"type": "string"
					},
					"subject": {
						"type": "string"
					},
					"content": {
						"type": "string"
					},
					"Queue_id": {
						"type": "string"
					},
					"cc": {
						"type": "string"
					},
					"bcc": {
						"type": "string"
					},
					"attachments": {
						"type": "string",
						"defaultValue": " "
					}
				},
				"variables": {
					"jsonBody": {
						"type": "String"
					},
					"templateBody": {
						"type": "String",
						"defaultValue": "'{   \"queue_id\": \"~QUEUEGUID~\",   \"message\": {     \"type\": \"email\",     \"message_id\": \"~MESSAGEGUID~\",     \"from\": \"~from~\",     \"to\": \"~to~\",     \"cc\": \"~cc~\",     \"bcc\": \"~bcc~\",     \"subject\": \"~SUBJECT~\",     \"content\": \"~CONTENT~\",     \"attachment\": [~ATTACHMENTS~]   } }'"
					}
				},
				"folder": {
					"name": "Master Template"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CsvFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					},
					"deliminator": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Blob Storage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().deliminator",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_IaaS_ATB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IaaS_SALES",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Period",
						"type": "nvarchar"
					},
					{
						"name": "CustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OpeningBalance",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "TotalOverdueAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount1to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmountOver60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARTemporaryCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCashOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARInvoiceCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShipToNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditSequence",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditType",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceStatus",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "LPCAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "SettlementLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARCollectorRoute",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReceiptDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SubmissionDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CalculatedDueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastPaymentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReferenceNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PastDueFlag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeDelivery",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeSubmission",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToReceive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToSubmit",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysInAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Current",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue1to7Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue8to14Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue15to21Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue22to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue61to90Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue91to120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueOver120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Unapplied",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overpayment",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ProprietaryBadDebt",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "DCM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "MarketingLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARResponsibilityCode",
						"type": "nvarchar"
					},
					{
						"name": "PKPFlag",
						"type": "nvarchar"
					},
					{
						"name": "DocumentNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceName",
						"type": "nvarchar"
					},
					{
						"name": "NPWP",
						"type": "nvarchar"
					},
					{
						"name": "OutletCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ReceiptNumber",
						"type": "nvarchar"
					},
					{
						"name": "CallingDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[AccountTrialBalance]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_MasterData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_MASTERDATA_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_MASTERDATA_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_MasterData_CustomerAdditionals')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_MASTERDATA_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerNumber",
						"type": "varchar"
					},
					{
						"name": "SuppressedDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "SuppressedCode",
						"type": "varchar"
					},
					{
						"name": "DistributionCenterFlag",
						"type": "varchar"
					},
					{
						"name": "SalesOfficeArea",
						"type": "varchar"
					},
					{
						"name": "CustomerCategoryCode",
						"type": "varchar"
					},
					{
						"name": "CustomerStatus",
						"type": "varchar"
					},
					{
						"name": "ClosedDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "SubClusterCode",
						"type": "varchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "WholeSalerPlatinum",
						"type": "varchar"
					},
					{
						"name": "MITPaket",
						"type": "varchar"
					},
					{
						"name": "PromoPaket",
						"type": "varchar"
					},
					{
						"name": "NPDPaket",
						"type": "varchar"
					},
					{
						"name": "DMSReserve1",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerSuppressions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IR2_MASTERDATA_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileInBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Blob Storage"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/File_in_idcbtap22')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "eTaxFileSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Binary"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/eTaxFileSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GenericAzureSQLDatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GenericAzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"Secret": {
							"value": "@dataset().secret",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"table": {
						"type": "string"
					},
					"secret": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}