ccaidauesadf001/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ccaidauesadf001"
		},
		"IaaS_SALES_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IaaS_SALES'"
		},
		"IaaS_SALES_PRODUCTION_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'IaaS_SALES_PRODUCTION'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/QA_CORE_ROLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IR2_CORE_DEV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PK_MGroupMenu_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupMenuName",
						"type": "varchar"
					},
					{
						"name": "GroupMenuDesciption",
						"type": "varchar"
					},
					{
						"name": "Active",
						"type": "bit"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "Application",
						"type": "varchar"
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "LastUpdateBy",
						"type": "varchar"
					},
					{
						"name": "ApprovedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ApprovedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[MGroupMenu]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IaaS_SALES')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IaaS_SALES_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-IaaS-ccaidwdevdb001",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IaaS_SALES_PRODUCTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('IaaS_SALES_PRODUCTION_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-CCAIDWPRDDB004",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Briefcase To Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy Briefcase from production to database",
				"activities": [
					{
						"name": "Copy Briefcase Header",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Select * From Briefcase_Header"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table Briefcase_Header"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "briefcase_id",
											"type": "Int64"
										},
										"sink": {
											"name": "briefcase_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SelectType",
											"type": "String"
										},
										"sink": {
											"name": "SelectType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "start_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "start_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "end_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "end_date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "created_by",
											"type": "String"
										},
										"sink": {
											"name": "created_by",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "file_name",
											"type": "String"
										},
										"sink": {
											"name": "file_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UpdateUser",
											"type": "String"
										},
										"sink": {
											"name": "UpdateUser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BriefcaseType",
											"type": "String"
										},
										"sink": {
											"name": "BriefcaseType",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Core",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dev_Core_Briefcase",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Briefcase Detail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Briefcase Header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Select * From Briefcase_Detail"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table Briefcase_Detail"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {},
										"sink": {
											"name": "briefcaseDetail_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "briefcase_id",
											"type": "Int64"
										},
										"sink": {
											"name": "briefcase_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "outlet_number",
											"type": "String"
										},
										"sink": {
											"name": "outlet_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UpdateTime",
											"type": "DateTime"
										},
										"sink": {
											"name": "UpdateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "level",
											"type": "String"
										},
										"sink": {
											"name": "level",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "user_code",
											"type": "String"
										},
										"sink": {
											"name": "user_code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Production_Core",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dev_Core_Briefcase_detail",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy QAQuestions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy QAQuestions from QA to Dev",
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate QAQuestion Dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "String"
										},
										"sink": {
											"name": "Site",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EquipmentNumber",
											"type": "String"
										},
										"sink": {
											"name": "EquipmentNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SectionID",
											"type": "String"
										},
										"sink": {
											"name": "SectionID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MeasuringPoint",
											"type": "String"
										},
										"sink": {
											"name": "MeasuringPoint",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestionText",
											"type": "String"
										},
										"sink": {
											"name": "QuestionText",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductID",
											"type": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sequence",
											"type": "Int32"
										},
										"sink": {
											"name": "Sequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AnswerGroup",
											"type": "String"
										},
										"sink": {
											"name": "AnswerGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UnitOfMeasure",
											"type": "String"
										},
										"sink": {
											"name": "UnitOfMeasure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MaxValue",
											"type": "String"
										},
										"sink": {
											"name": "MaxValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MinValue",
											"type": "String"
										},
										"sink": {
											"name": "MinValue",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataType",
											"type": "String"
										},
										"sink": {
											"name": "DataType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestCode",
											"type": "String"
										},
										"sink": {
											"name": "QuestCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTimeOffset"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "QA_CDE_QAQuestion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEV_CDE_QAQuestion",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate QAQuestion Dev",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DataFactory_TruncateQAQuestions]"
						},
						"linkedServiceName": {
							"referenceName": "IR2_CDE_DEV",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Role and Role Access from Dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Role MAA/PPA, IIA, Workflow, OVP",
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Dev_Core",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": []
						}
					}
				],
				"folder": {
					"name": "QA"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete CallHistory By PinId')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_DeleteOldCallHistoryByPinId]",
							"storedProcedureParameters": {
								"PinId": {
									"value": "20100238",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "IaaS_SALES_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DeleteOldLogSyncs_CCASitecore_Custom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_DeleteOldLogSyncs]"
						},
						"linkedServiceName": {
							"referenceName": "IaaS_SALES_PRODUCTION",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES_PRODUCTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendToBI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Send To BI",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n'ND' as UPDATE_STATUS,\nSubstring(Mainkey, 1, 6) as MAINKEY,\nSubstring(Subkey, 1, 7) as SUBKEY,\nSubstring([Data], 1, 80) as DATAFIELD\nFrom [Configuration]\nwhere [Mainkey] = 'SendToBI'\nAnd substring ([param], 1, 1) = '1'\nAnd [Application]='BACKEND'"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table CoreConfigurationToBI"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UPDATE_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "UPDATE_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MAINKEY",
											"type": "String"
										},
										"sink": {
											"name": "MAINKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SUBKEY",
											"type": "String"
										},
										"sink": {
											"name": "SUBKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATAFIELD",
											"type": "String"
										},
										"sink": {
											"name": "DATAFIELD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DEV_CORE_Configuration",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEV_CORE_CoreConfigurationToBI",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEV_IaaS_ATB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IaaS_SALES",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Development"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Site",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Period",
						"type": "nvarchar"
					},
					{
						"name": "CustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditLimit",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OpeningBalance",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "TotalOverdueAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount1to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmount31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueAmountOver60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARTemporaryCreditOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARCashOutstanding",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ARInvoiceCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShipToNumber",
						"type": "nvarchar"
					},
					{
						"name": "CreditSequence",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreditType",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceStatus",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "LPCAmount",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "SettlementLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARCollectorRoute",
						"type": "nvarchar"
					},
					{
						"name": "InvoiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReceiptDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SubmissionDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CalculatedDueDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastPaymentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReferenceNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PastDueFlag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeDelivery",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AgeSubmission",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToReceive",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysToSubmit",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DaysInAR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Current",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue1to7Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue8to14Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue15to21Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue22to30Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue31to60Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue61to90Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overdue91to120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "OverdueOver120Days",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Unapplied",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "Overpayment",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "ProprietaryBadDebt",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "DCM",
						"type": "nvarchar"
					},
					{
						"name": "GM",
						"type": "nvarchar"
					},
					{
						"name": "SM",
						"type": "nvarchar"
					},
					{
						"name": "MarketingLocation",
						"type": "nvarchar"
					},
					{
						"name": "ARResponsibilityCode",
						"type": "nvarchar"
					},
					{
						"name": "PKPFlag",
						"type": "nvarchar"
					},
					{
						"name": "DocumentNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "DeliveryTransactionCode",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaxInvoiceName",
						"type": "nvarchar"
					},
					{
						"name": "NPWP",
						"type": "nvarchar"
					},
					{
						"name": "OutletCreditDay",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ReceiptNumber",
						"type": "nvarchar"
					},
					{
						"name": "CallingDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "IsDelete",
						"type": "bit"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[AccountTrialBalance]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IaaS_SALES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy ATB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy ATB",
						"description": "Copy ATB from PaaS to IaaS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site",
											"type": "Int32"
										},
										"sink": {
											"name": "Site",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String"
										},
										"sink": {
											"name": "Period",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreditLimit",
											"type": "Decimal"
										},
										"sink": {
											"name": "CreditLimit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OpeningBalance",
											"type": "Decimal"
										},
										"sink": {
											"name": "OpeningBalance",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotalOverdueAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalOverdueAmount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueAmount1to30Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueAmount1to30Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueAmount31to60Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueAmount31to60Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueAmountOver60Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueAmountOver60Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARCreditOutstanding",
											"type": "Decimal"
										},
										"sink": {
											"name": "ARCreditOutstanding",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARTemporaryCreditOutstanding",
											"type": "Decimal"
										},
										"sink": {
											"name": "ARTemporaryCreditOutstanding",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARCashOutstanding",
											"type": "Decimal"
										},
										"sink": {
											"name": "ARCashOutstanding",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ARInvoiceCreditDay",
											"type": "Int32"
										},
										"sink": {
											"name": "ARInvoiceCreditDay",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ShipToNumber",
											"type": "String"
										},
										"sink": {
											"name": "ShipToNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreditSequence",
											"type": "Int32"
										},
										"sink": {
											"name": "CreditSequence",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CreditType",
											"type": "String"
										},
										"sink": {
											"name": "CreditType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceNumber",
											"type": "String"
										},
										"sink": {
											"name": "InvoiceNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceStatus",
											"type": "String"
										},
										"sink": {
											"name": "InvoiceStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvoiceAmount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LPCAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "LPCAmount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SettlementLocation",
											"type": "String"
										},
										"sink": {
											"name": "SettlementLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARLocation",
											"type": "String"
										},
										"sink": {
											"name": "ARLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARCollectorRoute",
											"type": "String"
										},
										"sink": {
											"name": "ARCollectorRoute",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvoiceDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvoiceDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ReceiptDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ReceiptDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SubmissionDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SubmissionDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DueDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "DueDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CalculatedDueDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CalculatedDueDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastPaymentDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastPaymentDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ReferenceNumber",
											"type": "Int32"
										},
										"sink": {
											"name": "ReferenceNumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PastDueFlag",
											"type": "Int32"
										},
										"sink": {
											"name": "PastDueFlag",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AgeDelivery",
											"type": "Int32"
										},
										"sink": {
											"name": "AgeDelivery",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AgeSubmission",
											"type": "Int32"
										},
										"sink": {
											"name": "AgeSubmission",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DaysToReceive",
											"type": "Int32"
										},
										"sink": {
											"name": "DaysToReceive",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DaysToSubmit",
											"type": "Int32"
										},
										"sink": {
											"name": "DaysToSubmit",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DaysInAR",
											"type": "Int32"
										},
										"sink": {
											"name": "DaysInAR",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Current",
											"type": "Decimal"
										},
										"sink": {
											"name": "Current",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue1to7Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue1to7Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue8to14Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue8to14Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue15to21Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue15to21Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue22to30Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue22to30Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue31to60Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue31to60Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue61to90Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue61to90Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overdue91to120Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overdue91to120Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OverdueOver120Days",
											"type": "Decimal"
										},
										"sink": {
											"name": "OverdueOver120Days",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Unapplied",
											"type": "Decimal"
										},
										"sink": {
											"name": "Unapplied",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Overpayment",
											"type": "Decimal"
										},
										"sink": {
											"name": "Overpayment",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ProprietaryBadDebt",
											"type": "Decimal"
										},
										"sink": {
											"name": "ProprietaryBadDebt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DCM",
											"type": "String"
										},
										"sink": {
											"name": "DCM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GM",
											"type": "String"
										},
										"sink": {
											"name": "GM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SM",
											"type": "String"
										},
										"sink": {
											"name": "SM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MarketingLocation",
											"type": "String"
										},
										"sink": {
											"name": "MarketingLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARResponsibilityCode",
											"type": "String"
										},
										"sink": {
											"name": "ARResponsibilityCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PKPFlag",
											"type": "String"
										},
										"sink": {
											"name": "PKPFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DocumentNumber",
											"type": "String"
										},
										"sink": {
											"name": "DocumentNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerOrderNumber",
											"type": "String"
										},
										"sink": {
											"name": "CustomerOrderNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DeliveryTransactionCode",
											"type": "String"
										},
										"sink": {
											"name": "DeliveryTransactionCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TaxInvoiceNumber",
											"type": "String"
										},
										"sink": {
											"name": "TaxInvoiceNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TaxInvoiceName",
											"type": "String"
										},
										"sink": {
											"name": "TaxInvoiceName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NPWP",
											"type": "String"
										},
										"sink": {
											"name": "NPWP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutletCreditDay",
											"type": "Int32"
										},
										"sink": {
											"name": "OutletCreditDay",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ReceiptNumber",
											"type": "String"
										},
										"sink": {
											"name": "ReceiptNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CallingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsDelete",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDelete",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DEV_IaaS_ATB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEV_PaaS_ATB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Development"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DEV_IaaS_ATB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-QAQuestion-from-QA-to-DEV')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy QAQuestion from QA to DEV",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy QAQuestions",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-07-10T07:57:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								3
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy QAQuestions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete Old Data in CCASitecore_Custom')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DeleteOldLogSyncs_CCASitecore_Custom",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Delete CallHistory By PinId",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-07-31T08:57:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0,
								15,
								30,
								45
							],
							"hours": [
								18,
								19,
								20,
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DeleteOldLogSyncs_CCASitecore_Custom')]",
				"[concat(variables('factoryId'), '/pipelines/Delete CallHistory By PinId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendToBI')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SendToBI",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2019-07-22T11:25:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SendToBI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy-ATB-from-IaaS-to-PaaS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy ATB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2019-07-16T11:02:00Z",
						"timeZone": "UTC",
						"schedule": {
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy ATB')]"
			]
		}
	]
}